---
title: Verification of Forecasts Expressed in Terms of Probability
authors: Glenn W. Brier
year: '1950'
url: https://journals.ametsoc.org/view/journals/mwre/78/1/1520-0493_1950_078_0001_vofeit_2_0_co_2.xml
final_url: https://journals.ametsoc.org/view/journals/mwre/78/1/1520-0493_1950_078_0001_vofeit_2_0_co_2.xml
retrieved: '2026-09-23'
sha256: 47e732400a840a47082ab2e1a55dcd1ba9842eb6cf7e60dd66a313b7e5d9c080
kind: html
parser: bc-web-readability
tier: browser
engine: playwright
escalated: true
found_by: both
note: ''
chars: 194447
---

[Jump to Content](#mainContent)

This site uses *cookies*, tags, and tracking settings to store information that help give you the very best browsing experience. [Dismiss this warning](/configurable/content.layout.europeanunioncookiesagreement:dismisseucookies?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

[![Logo for the American Meteorological Society's Journals](/fileasset/AMET-Journals-Logo-Mobile.png)](/) [![Logo for the American Meteorological Society's Journals](/fileasset/AMS-Logo-Lockup-Journals-01.png)](/) [![Logo for the American Meteorological Society's Journals](/fileasset/AMS-Logo-Lockup-Journals-01.png)](/) [![Logo for the American Meteorological Society's Journals](/fileasset/AMET-Journals-Logo-Mobile.png)](/) [![Logo for the American Meteorological Society's Journals](/fileasset/AMS-Logo-Lockup-Journals-01.png)](/) [![Logo for the American Meteorological Society's Journals](/fileasset/AMS-Logo-Lockup-Journals-01.png)](/)

JOURNALS [BROWSE](/browse) [PUBLISH](https://www.ametsoc.org/index.cfm/ams/publications/authors/journal-and-bams-authors/) [SUBSCRIBE](https://www.ametsoc.org/index.cfm/ams/publications/subscription-information/) [ABOUT](https://www.ametsoc.org/index.cfm/ams/publications)

[Sign in](/login) [Sign up](/signup)

Search

[![Logo for the American Meteorological Society's Journals](/fileasset/AMET-Journals-Logo-Mobile.png)](/) [![Logo for the American Meteorological Society's Journals](/fileasset/AMS-Logo-Lockup-Journals-01.png)](/) [![Logo for the American Meteorological Society's Journals](/fileasset/AMS-Logo-Lockup-Journals-01.png)](/) [![Logo for the American Meteorological Society's Journals](/fileasset/AMET-Journals-Logo-Mobile.png)](/) [![Logo for the American Meteorological Society's Journals](/fileasset/AMS-Logo-Lockup-Journals-01.png)](/) [![Logo for the American Meteorological Society's Journals](/fileasset/AMS-Logo-Lockup-Journals-01.png)](/)

[![Cover Monthly Weather Review](/coverimage?doc=%2Fjournals%2Fmwre%2F78%2F1%2Fmwre.78.issue-1.xml&width=200)](/view/journals/mwre/78/1/1520-0493_1950_078_0001_vofeit_2_0_co_2.xml "Monthly Weather Review - Volume 78 (1950): Issue 1 (Jan 1950)")

[Monthly Weather Review](/view/journals/mwre/mwre-overview.xml)

Volume 78: Issue 1

[Early Online Release](/view/journals/mwre/aop/issue.xml)

Volume: 154 (2026)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/0/volume/154/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 153 (2025)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/1/volume/153/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 152 (2024)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/2/volume/152/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 151 (2023)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/3/volume/151/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 150 (2022)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/4/volume/150/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 149 (2021)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/5/volume/149/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 148 (2020)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/6/volume/148/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 147 (2019)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/7/volume/147/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 146 (2018)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/8/volume/146/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 145 (2017)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/9/volume/145/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 144 (2016)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/10/volume/144/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 143 (2015)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/11/volume/143/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 142 (2014)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/12/volume/142/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 141 (2013)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/13/volume/141/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 140 (2012)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/14/volume/140/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 139 (2011)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/15/volume/139/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 138 (2010)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/16/volume/138/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 137 (2009)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/17/volume/137/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 136 (2008)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/18/volume/136/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 135 (2007)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/19/volume/135/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 134 (2006)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/20/volume/134/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 133 (2005)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/21/volume/133/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 132 (2004)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/22/volume/132/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 131 (2003)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/23/volume/131/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 130 (2002)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/24/volume/130/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 129 (2001)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/25/volume/129/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 128 (2000)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/26/volume/128/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 127 (1999)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/27/volume/127/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 126 (1998)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/28/volume/126/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 125 (1997)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/29/volume/125/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 124 (1996)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/30/volume/124/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 123 (1995)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/31/volume/123/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 122 (1994)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/32/volume/122/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 121 (1993)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/33/volume/121/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 120 (1992)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/34/volume/120/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 119 (1991)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/35/volume/119/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 118 (1990)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/36/volume/118/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 117 (1989)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/37/volume/117/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 116 (1988)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/38/volume/116/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 115 (1987)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/39/volume/115/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 114 (1986)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/40/volume/114/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 113 (1985)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/41/volume/113/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 112 (1984)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/42/volume/112/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 111 (1983)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/43/volume/111/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 110 (1982)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/44/volume/110/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 109 (1981)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/45/volume/109/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 108 (1980)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/46/volume/108/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 107 (1979)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/47/volume/107/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 106 (1978)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/48/volume/106/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 105 (1977)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/49/volume/105/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 104 (1976)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/50/volume/104/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 103 (1975)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/51/volume/103/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 102 (1974)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/52/volume/102/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 101 (1973)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/53/volume/101/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 100 (1972)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/54/volume/100/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 99 (1971)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/55/volume/99/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 98 (1970)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/56/volume/98/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 97 (1969)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/57/volume/97/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 96 (1968)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/58/volume/96/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 95 (1967)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/59/volume/95/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 94 (1966)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/60/volume/94/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 93 (1965)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/61/volume/93/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 92 (1964)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/62/volume/92/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 91 (1963)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/63/volume/91/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 90 (1962)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/64/volume/90/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 89 (1961)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/65/volume/89/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 88 (1960)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/66/volume/88/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 87 (1959)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/67/volume/87/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 86 (1958)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/68/volume/86/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 85 (1957)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/69/volume/85/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 84 (1956)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/70/volume/84/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 83 (1955)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/71/volume/83/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 82 (1954)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/72/volume/82/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 81 (1953)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/73/volume/81/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 80 (1952)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/74/volume/80/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 79 (1951)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/75/volume/79/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 78 (1950)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/76/volume/78/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 77 (1949)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/77/volume/77/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 76 (1948)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/78/volume/76/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 75 (1947)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/79/volume/75/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 74 (1946)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/80/volume/74/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 73 (1945)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/81/volume/73/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 72 (1944)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/82/volume/72/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 71 (1943)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/83/volume/71/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 70 (1942)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/84/volume/70/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 69 (1941)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/85/volume/69/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 68 (1940)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/86/volume/68/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 67 (1939)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/87/volume/67/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 66 (1938)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/88/volume/66/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 65 (1937)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/89/volume/65/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 64 (1936)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/90/volume/64/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 63 (1935)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/91/volume/63/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 62 (1934)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/92/volume/62/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 61 (1933)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/93/volume/61/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 60 (1932)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/94/volume/60/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 59 (1931)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/95/volume/59/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 58 (1930)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/96/volume/58/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 57 (1929)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/97/volume/57/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 56 (1928)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/98/volume/56/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 55 (1927)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/99/volume/55/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 54 (1926)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/100/volume/54/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 53 (1925)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/101/volume/53/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 52 (1924)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/102/volume/52/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 51 (1923)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/103/volume/51/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 50 (1922)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/104/volume/50/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 49 (1921)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/105/volume/49/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 48 (1920)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/106/volume/48/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 47 (1919)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/107/volume/47/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 46 (1918)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/108/volume/46/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 45 (1917)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/109/volume/45/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 44 (1916)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/110/volume/44/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 43 (1915)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/111/volume/43/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 42 (1914)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/112/volume/42/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 41 (1913)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/113/volume/41/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 40 (1912)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/114/volume/40/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 39 (1911)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/115/volume/39/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 38 (1910)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/116/volume/38/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 37 (1909)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/117/volume/37/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 36 (1908)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/118/volume/36/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 35 (1907)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/119/volume/35/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 34 (1906)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/120/volume/34/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 33 (1905)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/121/volume/33/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 32 (1904)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/122/volume/32/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 31 (1903)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/123/volume/31/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 30 (1902)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/124/volume/30/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 29 (1901)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/125/volume/29/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 28 (1900)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/126/volume/28/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 27 (1899)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/127/volume/27/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 26 (1898)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/128/volume/26/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 25 (1897)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/129/volume/25/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 24 (1896)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/130/volume/24/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 23 (1895)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/131/volume/23/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 22 (1894)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/132/volume/22/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 21 (1893)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/133/volume/21/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 20 (1892)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/134/volume/20/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 19 (1891)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/135/volume/19/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 18 (1890)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/136/volume/18/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 17 (1889)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/137/volume/17/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 16 (1888)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/138/volume/16/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 15 (1887)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/139/volume/15/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 14 (1886)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/140/volume/14/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 13 (1885)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/141/volume/13/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 12 (1884)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/142/volume/12/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 11 (1883)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/143/volume/11/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 10 (1882)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/144/volume/10/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 9 (1881)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/145/volume/9/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 8 (1880)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/146/volume/8/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 7 (1879)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/147/volume/7/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 6 (1878)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/148/volume/6/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 5 (1877)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/149/volume/5/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 4 (1876)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/150/volume/4/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 3 (1875)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/151/volume/3/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 2 (1874)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/152/volume/2/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 1 (1873)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/153/volume/1/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62895/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Cited By

Publications Citing This Document

You are looking at 1-50 of 3658 citations

[Next](/configurable/content.configurablecontentpagebody.citedbywidget.pagedlist:changepage/2?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml&t:state:client=Db3o/0JSJOfoToVBJ4ILUV2f7FY=:H4sIAAAAAAAAAH2TsW8TMRTGnZSIVKkIjYo6ITEwXyYkEBM0rTj1CJESMbC9u3u5GHz28ey7JAuChQ4MLLAxMDD2X2FkYEMww4SE1An7UhpS9TKc5bN/+r7P79nHP1ljeokxtquJHSpKPMggmqBnIENtaH7L49IgSRCeRip4hNrbExylGSBpro2dHXAU8dAoggT9NBM3D3H+9ffu28s/To7qbCNgrUilmZIW9WPDOsFTKKArQCbdoSEuk7sB2xw7kT6k+Jy9YLWANTOrdvY/ywy7Eyk55klOEAq0c2ftoFDFc69QIk+Ra52jRrtt05yuGRUZthXlRJbvYWYmhu38L9XdW2jZCmy7ZJ5L5vl2LUHqfP/46c+ro9t1VvNZowCR44zY1SXXz9MQ6fXx++utd9/e1BmbZbacTLvYzA0bhrX1RE3vRbZ22rfO5V5j1e6+UgJBfr5BL798OPll7Z78s8tqK2LbpRgZHglcmC/k3Ni6wHdf2iIQGK5kCbqhvYJ1Sizmtma2c1NFsa4gtxw5cG2WY1XBNB3ja13ltr104yBG8wwrwJZtLpdgcKSiCmSzzEP2Vq4zeyQFlzjIw54VqzIrq5qbiaKqw7eWwauQaxHIAamEbKd5gT2uMwHzCridwuwBQmwfQHktz7DmOU0lBGQa+0o+BG4/Y057fkEAl3GIxFE/Lm9/ACGK9Z0K13aqh2PIhTlQlIKpAHfK4hXAhXtPC3T9FYrHAZfP1jLDPDTciKqGXXHMyAHnjvgXTbQg89MEAAA=&t:zoneid=list)

\[1\] Kaur, Devinder, Islam, Shama Naz, Mahmud, Md Apel, Haque, Md Enamul, and Dong, Zhao Yang, 2022, "Energy forecasting in smart grid systems: recent advancements in probabilistic deep learning" IET Generation, Transmission & Distribution 1751-8695

[Crossref](https://doi.org/10.1049/gtd2.12603)

\[2\] Yeh, Chi-Kuang, Rice, Gregory, and Dubin, Joel A., 2021, "Evaluating Real-Time Probabilistic Forecasts With Application to National Basketball Association Outcome Prediction" The American Statistician pp 1, 1537-2731

[Crossref](https://doi.org/10.1080/00031305.2021.1967781)

\[3\] Chen, Jiande, Yin, Yong, Zhao, Liebin, Zhang, Lei, Zhang, Jing, and Yuan, Shuhua, 2021, "Mycoplasma pneumoniae infection prediction model for hospitalized community‐acquired pneumonia children" Pediatric Pulmonology 1099-0496

[Crossref](https://doi.org/10.1002/ppul.25665)

\[4\] Diebold, Francis X., Shin, Minchul, and Zhang, Boyuan, 2022, "On the aggregation of probability assessments: Regularized mixtures of predictive densities for Eurozone inflation and real interest rates" Journal of Econometrics 03044076

[Crossref](https://doi.org/10.1016/j.jeconom.2022.06.008)

\[5\] Amanatidis, Georgios, Birmpas, Georgios, Lazos, Philip, and Marmolejo-Cossío, Francisco, 2022, Algorithmic Game Theory Vol. 13584, pp 403, 978-3-031-15714-1

[Crossref](https://doi.org/10.1007/978-3-031-15714-1_23)

\[6\] Utkin, Lev V., Zaborovsky, Vladimir S., Kovalev, Maxim S., Konstantinov, Andrei V., Politaeva, Natalia A., and Lukashin, Alexey A., 2021, "Uncertainty Interpretation of the Machine Learning Survival Model Predictions" IEEE Access Vol. 9, pp 120158, 2169-3536

[Crossref](https://doi.org/10.1109/ACCESS.2021.3108341)

\[7\] Messinger Cayetano, Shari and Mantero, Alejandro, 2021, " Conditional uncertainty: Misinterpretations of “significant” p values " Journal of Cardiac Surgery 1540-8191

[Crossref](https://doi.org/10.1111/jocs.15963)

\[8\] Labrosciano, Clementine, Tavella, Rosanna, Air, Tracy, Zeitz, Christopher J., Worthley, Matthew, and Beltrame, John F., 2021, "The LACE Index: A Predictor of Mortality and Readmission in Patients With Acute Myocardial Infarction" Journal for Healthcare Quality Vol. 43, No. 5, pp 292, 1945-1474

[Crossref](https://doi.org/10.1097/JHQ.0000000000000296)

\[9\] Humm, John R., Banerjee, Anjishnu, and Yoganandan, Narayan, 2021, "Deflection-based parametric survival analysis side impact chest injury risk curves AIS 2015" Traffic Injury Prevention pp 1, 1538-957X

[Crossref](https://doi.org/10.1080/15389588.2021.1977928)

\[10\] Lin, Andrew, van Diemen, Pepijn A., Motwani, Manish, McElhinney, Priscilla, Otaki, Yuka, Han, Donghee, Kwan, Alan, Tzolos, Evangelos, Klein, Eyal, Kuronuma, Keiichiro, Grodecki, Kajetan, Shou, Benjamin, Rios, Richard, Manral, Nipun, Cadet, Sebastien, Danad, Ibrahim, Driessen, Roel S., Berman, Daniel S., Nørgaard, Bjarne L., Slomka, Piotr J., Knaapen, Paul, and Dey, Damini, 2022, "Machine Learning From Quantitative Coronary Computed Tomography Angiography Predicts Fractional Flow Reserve–Defined Ischemia and Impaired Myocardial Blood Flow" Circulation: Cardiovascular Imaging Vol. 15, No. 10, 1942-0080

[Crossref](https://doi.org/10.1161/CIRCIMAGING.122.014369)

\[11\] Dutz, Almut, Zwanenburg, Alex, Langendijk, Johannes A., and Löck, Steffen, 2022, Image-Guided High-Precision Radiotherapy pp 285, 978-3-031-08601-4

[Crossref](https://doi.org/10.1007/978-3-031-08601-4_13)

\[12\] Choi, Hee-Wook, Han, Keunhee, and Kim, Chansoo, 2022, "Probabilistic Forecast of Visibility at Gimpo, Incheon, and Jeju International Airports Using Weighted Model Averaging" Atmosphere Vol. 13, No. 12, pp 1969, 2073-4433

[Crossref](https://doi.org/10.3390/atmos13121969)

\[13\] Thirel, G., Martin, E., Mahfouf, J.-F., Massart, S., Ricci, S., Regimbeau, F., and Habets, F., 2010, "A past discharge assimilation system for ensemble streamflow forecasts over France – Part 2: Impact on the ensemble streamflow forecasts" Hydrology and Earth System Sciences Vol. 14, No. 8, pp 1639, 1607-7938

[Crossref](https://doi.org/10.5194/hess-14-1639-2010)

\[14\] Bartholmes, J. C., Thielen, J., Ramos, M. H., and Gentilini, S., 2009, "The european flood alert system EFAS – Part 2: Statistical skill assessment of probabilistic and deterministic operational forecasts" Hydrology and Earth System Sciences Vol. 13, No. 2, pp 141, 1607-7938

[Crossref](https://doi.org/10.5194/hess-13-141-2009)

\[15\] Weijs, S. V., Schoups, G., and van de Giesen, N., 2010, "Why hydrological predictions should be evaluated using information theory" Hydrology and Earth System Sciences Vol. 14, No. 12, pp 2545, 1607-7938

[Crossref](https://doi.org/10.5194/hess-14-2545-2010)

\[16\] Laakso, Tuija, Kokkonen, Teemu, Mellin, Ilkka, and Vahala, Riku, 2019, "Sewer Life Span Prediction: Comparison of Methods and Assessment of the Sample Impact on the Results" Water Vol. 11, No. 12, pp 2657, 2073-4441

[Crossref](https://doi.org/10.3390/w11122657)

\[17\] Phan, Huy, Mertins, Alfred, and Baumert, Mathias, 2022, "Pediatric Automatic Sleep Staging: A Comparative Study of State-of-the-Art Deep Learning Methods" IEEE Transactions on Biomedical Engineering Vol. 69, No. 12, pp 3612, 1558-2531

[Crossref](https://doi.org/10.1109/TBME.2022.3174680)

\[18\] Bose, Subir and Daripa, Arup, 2022, "Eliciting ambiguous beliefs using constructed ambiguous acts: Alpha-maxmin" Journal of Mathematical Economics pp 102787, 03044068

[Crossref](https://doi.org/10.1016/j.jmateco.2022.102787)

\[19\] Parde, Avinash N., Ghude, Sachin D., Dhangar, Narendra Gokul, Lonkar, Prasanna, Wagh, Sandeep, Govardhan, Gaurav, Biswas, Mrinal, and Jenamani, R. K., 2022, "Operational Probabilistic Fog Prediction Based on Ensemble Forecast System: A Decision Support System for Fog" Atmosphere Vol. 13, No. 10, pp 1608, 2073-4433

[Crossref](https://doi.org/10.3390/atmos13101608)

\[20\] Yuan, Yubai and Qu, Annie, 2021, "High-order Joint Embedding for Multi-Level Link Prediction" Journal of the American Statistical Association pp 1, 1537-274X

[Crossref](https://doi.org/10.1080/01621459.2021.2005608)

\[21\] Javadi, Golara, Bayat, Sharareh, Kazemi Esfeh, Mohammad Mahdi, Samadi, Samareh, Sedghi, Alireza, Sojoudi, Samira, Hurtado, Antonio, Chang, Silvia, Black, Peter, Mousavi, Parvin, and Abolmaesumi, Purang, 2021, "Towards targeted ultrasound-guided prostate biopsy by incorporating model and label uncertainty in cancer detection" International Journal of Computer Assisted Radiology and Surgery 1861-6429

[Crossref](https://doi.org/10.1007/s11548-021-02485-z)

\[22\] Zarkowsky, Devin S. and Stonko, David P., 2021, "Artificial intelligence's role in vascular surgery decision-making" Seminars in Vascular Surgery 08957967

[Crossref](https://doi.org/10.1053/j.semvascsurg.2021.10.005)

\[23\] Yusuf, Sagir M. and Baber, Chris, 2022, "Formalizing Distributed Situation Awareness in Multi-Agent Networks" IEEE Transactions on Human-Machine Systems Vol. 52, No. 6, pp 1166, 2168-2305

[Crossref](https://doi.org/10.1109/THMS.2022.3142109)

\[24\] Shafiei, Hassan, Chauchat, Julien, Bonamy, Cyrille, and Marchesiello, Patrick, 2022, "Adaptation of the SANTOSS transport formula for 3D nearshore models: Application to cross-shore sandbar migration" Ocean Modelling pp 102138, 14635003

[Crossref](https://doi.org/10.1016/j.ocemod.2022.102138)

\[25\] Sun, Louise Y., Zghebi, Salwa S., Eddeen, Anan Bader, Liu, Peter P., Lee, Douglas S., Tu, Karen, Tobe, Sheldon W., Kontopantelis, Evangelos, and Mamas, Mamas A., 2022, "Derivation and External Validation of a Clinical Model to Predict Heart Failure Onset in Patients With Incident Diabetes" Diabetes Care Vol. 45, No. 11, pp 2737, 1935-5548

[Crossref](https://doi.org/10.2337/dc22-0894)

\[26\] Kunze, Kyle N., Polce, Evan M., Alter, Thomas D., and Nho, Shane J., 2021, "Machine Learning Algorithms Predict Prolonged Opioid Use in Opioid-Naïve Primary Hip Arthroscopy Patients" JAAOS: Global Research and Reviews Vol. 5, No. 5, pp e21.00093, 2474-7661

[Crossref](https://doi.org/10.5435/JAAOSGlobal-D-21-00093)

\[27\] Diniz, Marcio Augusto, 2022, "Statistical methods for validation of predictive models" Journal of Nuclear Cardiology 1532-6551

[Crossref](https://doi.org/10.1007/s12350-022-02994-7)

\[28\] Hulsbergen, Alexander F. C., Lo, Yu Tung, Awakimjan, Ilia, Kavouridis, Vasileios K., Phillips, John G., Smith, Timothy R., Verhoeff, Joost J. C., Yu, Kun-Hsing, Broekman, Marike L. D., and Arnaout, Omar, 2022, "Survival Prediction After Neurosurgical Resection of Brain Metastases: A Machine Learning Approach" Neurosurgery Vol. Publish Ahead of Print, 1524-4040

[Crossref](https://doi.org/10.1227/neu.0000000000002037)

\[29\] Witkowski, Jens, Freeman, Rupert, Vaughan, Jennifer Wortman, Pennock, David M., and Krause, Andreas, 2022, "Incentive-Compatible Forecasting Competitions" Management Science 1526-5501

[Crossref](https://doi.org/10.1287/mnsc.2022.4410)

\[30\] Estiri, Hossein, Strasser, Zachary H, Rashidian, Sina, Klann, Jeffrey G, Wagholikar, Kavishwar B, McCoy, Thomas H, and Murphy, Shawn N, 2022, "An objective framework for evaluating unrecognized bias in medical AI models predicting COVID-19 outcomes" Journal of the American Medical Informatics Association 1527-974X

[Crossref](https://doi.org/10.1093/jamia/ocac070)

\[31\] Tarumi, Shinji, Takeuchi, Wataru, Chalkidis, George, Rodriguez-Loya, Salvador, Kuwata, Junichi, Flynn, Michael, Turner, Kyle M., Sakaguchi, Farrant H., Weir, Charlene, Kramer, Heidi, Shields, David E., Warner, Phillip B., Kukhareva, Polina, Ban, Hideyuki, and Kawamoto, Kensaku, 2021, "Leveraging Artificial Intelligence to Improve Chronic Disease Care: Methods and Application to Pharmacotherapy Decision Support for Type-2 Diabetes Mellitus" Methods of Information in Medicine 2511-705X

[Crossref](https://doi.org/10.1055/s-0041-1728757)

\[32\] Polce, Evan M. and Kunze, Kyle N., 2022, "A Guide for the Application of Statistics in Biomedical Studies Concerning Machine Learning and Artificial Intelligence" Arthroscopy: The Journal of Arthroscopic & Related Surgery 07498063

[Crossref](https://doi.org/10.1016/j.arthro.2022.04.016)

\[33\] Tutek, Martin and Snajder, Jan, 2022, "Toward Practical Usage of the Attention Mechanism as a Tool for Interpretability" IEEE Access Vol. 10, pp 47011, 2169-3536

[Crossref](https://doi.org/10.1109/ACCESS.2022.3169772)

\[34\] Poore, Joshua C., Forlines, Clifton L., Miller, Sarah M., Regan, John R., and Irvine, John M., 2014, "Personality, Cognitive Style, Motivation, and Aptitude Predict Systematic Trends in Analytic Forecasting Behavior" Journal of Cognitive Engineering and Decision Making Vol. 8, No. 4, pp 374, 1555-3434

[Crossref](https://doi.org/10.1177/1555343414554702)

\[35\] Schurz, Gerhard, 2021, "Probabilistic truthlikeness, content elements, and meta-inductive probability optimization" Synthese 1573-0964

[Crossref](https://doi.org/10.1007/s11229-021-03057-z)

\[36\] Ghazvinian, Mohammadvaghef, Zhang, Yu, Seo, Dong-Jun, He, Minxue, and Fernando, Nelun, 2021, "A Novel Hybrid Artificial Neural Network - Parametric Scheme for Postprocessing Medium-Range Precipitation Forecasts" Advances in Water Resources pp 103907, 03091708

[Crossref](https://doi.org/10.1016/j.advwatres.2021.103907)

\[37\] Bridge, Joshua, Fu, Lu, Lin, Weidong, Xue, Yumei, Lip, Gregory Y. H., and Zheng, Yalin, 2022, "Artificial intelligence to detect abnormal heart rhythm from scanned electrocardiogram tracings" Journal of Arrhythmia 1883-2148

[Crossref](https://doi.org/10.1002/joa3.12707)

\[38\] Satopää, Ville A., Jensen, Shane T., Pemantle, Robin, and Ungar, Lyle H., 2017, "Partial information framework: Model-based aggregation of estimates from diverse information sources" Electronic Journal of Statistics Vol. 11, No. 2, 1935-7524

[Crossref](https://doi.org/10.1214/17-EJS1346)

\[39\] Parry, Matthew, 2016, "Linear scoring rules for probabilistic binary classification" Electronic Journal of Statistics Vol. 10, No. 1, 1935-7524

[Crossref](https://doi.org/10.1214/16-EJS1150)

\[40\] Giummolè, Federica and Mameli, Valentina, 2018, "Asymptotic minimum scoring rule prediction" Electronic Journal of Statistics Vol. 12, No. 2, 1935-7524

[Crossref](https://doi.org/10.1214/18-EJS1454)

\[41\] Barcella, William, De Iorio, Maria, Baio, Gianluca, and Malone-Lee, James, 2016, "A Bayesian nonparametric model for white blood cells in patients with lower urinary tract symptoms" Electronic Journal of Statistics Vol. 10, No. 2, 1935-7524

[Crossref](https://doi.org/10.1214/16-EJS1177)

\[42\] Kanamori, Takafumi and Fujisawa, Hironori, 2014, "Affine invariant divergences associated with proper composite scoring rules and their applications" Bernoulli Vol. 20, No. 4, 1350-7265

[Crossref](https://doi.org/10.3150/13-BEJ557)

\[43\] Karni, Edi, 2022, "A theory-based decision model" Journal of Economic Theory Vol. 201, pp 105444, 00220531

[Crossref](https://doi.org/10.1016/j.jet.2022.105444)

\[44\] Torn, Ryan D. and DeMaria, Mark, 2021, "Validation of Ensemble-Based Probabilistic Tropical Cyclone Intensity Change" Atmosphere Vol. 12, No. 3, pp 373, 2073-4433

[Crossref](https://doi.org/10.3390/atmos12030373)

\[45\] Li, Xiangyu, Luo, Gongning, Wang, Wei, Wang, Kuanquan, Gao, Yue, and Li, Shuo, 2022, "Hematoma Expansion Context Guided Intracranial Hemorrhage Segmentation and Uncertainty Estimation" IEEE Journal of Biomedical and Health Informatics Vol. 26, No. 3, pp 1140, 2168-2208

[Crossref](https://doi.org/10.1109/JBHI.2021.3103850)

\[46\] Daraei, Sara, Pelechrinis, Konstantinos, and Quercia, Daniele, 2021, "A data-driven approach for assessing biking safety in cities" EPJ Data Science Vol. 10, No. 1, 2193-1127

[Crossref](https://doi.org/10.1140/epjds/s13688-021-00265-y)

\[47\] D’Cruz, Nicholas, Vervoort, Griet, Chalavi, Sima, Dijkstra, Bauke W., Gilat, Moran, and Nieuwboer, Alice, 2021, "Thalamic morphology predicts the onset of freezing of gait in Parkinson’s disease" npj Parkinson's Disease Vol. 7, No. 1, 2373-8057

[Crossref](https://doi.org/10.1038/s41531-021-00163-0)

\[48\] Dumitrescu, Elena, Hué, Sullivan, Hurlin, Christophe, and Tokpavi, Sessi, 2021, "Machine Learning for Credit Scoring: Improving Logistic Regression with Non-Linear Decision-Tree Effects" European Journal of Operational Research 03772217

[Crossref](https://doi.org/10.1016/j.ejor.2021.06.053)

\[49\] Truslow, James G., Goto, Shinichi, Homilius, Max, Mow, Christopher, Higgins, John M., MacRae, Calum A., and Deo, Rahul C., 2022, "Cardiovascular Risk Assessment Using Artificial Intelligence-Enabled Event Adjudication and Hematologic Predictors" Circulation: Cardiovascular Quality and Outcomes Vol. 15, No. 6, 1941-7705

[Crossref](https://doi.org/10.1161/CIRCOUTCOMES.121.008007)

\[50\] Lorenz, Christof, Portele, Tanja C., Laux, Patrick, and Kunstmann, Harald, 2021, "Bias-corrected and spatially disaggregated seasonal forecasts: a long-term reference forecast product for the water sector in semi-arid regions" Earth System Science Data Vol. 13, No. 6, pp 2701, 1866-3516

[Crossref](https://doi.org/10.5194/essd-13-2701-2021)

[Next](/configurable/content.configurablecontentpagebody.citedbywidget.pagedlist:changepage/2?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml&t:state:client=Db3o/0JSJOfoToVBJ4ILUV2f7FY=:H4sIAAAAAAAAAH2TsW8TMRTGnZSIVKkIjYo6ITEwXyYkEBM0rTj1CJESMbC9u3u5GHz28ey7JAuChQ4MLLAxMDD2X2FkYEMww4SE1An7UhpS9TKc5bN/+r7P79nHP1ljeokxtquJHSpKPMggmqBnIENtaH7L49IgSRCeRip4hNrbExylGSBpro2dHXAU8dAoggT9NBM3D3H+9ffu28s/To7qbCNgrUilmZIW9WPDOsFTKKArQCbdoSEuk7sB2xw7kT6k+Jy9YLWANTOrdvY/ywy7Eyk55klOEAq0c2ftoFDFc69QIk+Ra52jRrtt05yuGRUZthXlRJbvYWYmhu38L9XdW2jZCmy7ZJ5L5vl2LUHqfP/46c+ro9t1VvNZowCR44zY1SXXz9MQ6fXx++utd9/e1BmbZbacTLvYzA0bhrX1RE3vRbZ22rfO5V5j1e6+UgJBfr5BL798OPll7Z78s8tqK2LbpRgZHglcmC/k3Ni6wHdf2iIQGK5kCbqhvYJ1Sizmtma2c1NFsa4gtxw5cG2WY1XBNB3ja13ltr104yBG8wwrwJZtLpdgcKSiCmSzzEP2Vq4zeyQFlzjIw54VqzIrq5qbiaKqw7eWwauQaxHIAamEbKd5gT2uMwHzCridwuwBQmwfQHktz7DmOU0lBGQa+0o+BG4/Y057fkEAl3GIxFE/Lm9/ACGK9Z0K13aqh2PIhTlQlIKpAHfK4hXAhXtPC3T9FYrHAZfP1jLDPDTciKqGXXHMyAHnjvgXTbQg89MEAAA=&t:zoneid=list)

Metrics

| | All Time | Past Year | Past 30 Days |
| ----- | -------- | --------- | ------------ |
| 0 | 0 | 0 | |
| 39893 | 6448 | 1673 | |
| 30791 | 4574 | 554 | |

Related Content

## [Do Submesoscales Affect the Large-Scale Structure of the Upper Ocean?](/view/journals/phoc/53/4/JPO-D-22-0129.1.xml)

Authors:

[Anirban Sinha](https://journals.ametsoc.org/search?f_0=author&q_0=Anirban+Sinha)

,

[Jörn Callies](https://journals.ametsoc.org/search?f_0=author&q_0=J%C3%B6rn+Callies)

, and

[Dimitris Menemenlis](https://journals.ametsoc.org/search?f_0=author&q_0=Dimitris+Menemenlis)

## [Where Have the EF5s Gone? A Closer Look at the “Drought” of the Most Violent Tornadoes in the United States](/view/journals/bams/106/8/BAMS-D-24-0066.1.xml)

Authors:

[Anthony W. Lyza](https://journals.ametsoc.org/search?f_0=author&q_0=Anthony+W.+Lyza)

,

[Harold E. Brooks](https://journals.ametsoc.org/search?f_0=author&q_0=Harold+E.+Brooks)

, and

[Makenzie J. Krocak](https://journals.ametsoc.org/search?f_0=author&q_0=Makenzie+J.+Krocak)

## [Evaluating the Utility of NDVI as a Damage Indicator for Crops in the Enhanced Fujita Scale](/view/journals/apme/65/1/JAMC-D-24-0233.1.xml)

Authors:

[Connell S. Miller](https://journals.ametsoc.org/search?f_0=author&q_0=Connell+S.+Miller)

,

[Fahim Jessa](https://journals.ametsoc.org/search?f_0=author&q_0=Fahim+Jessa)

, and

[Gregory A. Kopp](https://journals.ametsoc.org/search?f_0=author&q_0=Gregory+A.+Kopp)

## [Dynamics of Heat Wave Intensification over the Indian Region](/view/journals/atsc/83/1/JAS-D-24-0093.1.xml)

Authors:

[S. Lekshmi](https://journals.ametsoc.org/search?f_0=author&q_0=S.+Lekshmi)

,

[Rajib Chattopadhyay](https://journals.ametsoc.org/search?f_0=author&q_0=Rajib+Chattopadhyay)

, and

[D. S. Pai](https://journals.ametsoc.org/search?f_0=author&q_0=D.+S.+Pai)

## [Global Climate](/view/journals/bams/105/8/BAMS-D-24-0116.1.xml)

Authors:

[R. J. H. Dunn](https://journals.ametsoc.org/search?f_0=author&q_0=R.+J.+H.+Dunn)

,

[J. Blannin](https://journals.ametsoc.org/search?f_0=author&q_0=J.+Blannin)

,

[N. Gobron](https://journals.ametsoc.org/search?f_0=author&q_0=N.+Gobron)

,

[J. B. Miller](https://journals.ametsoc.org/search?f_0=author&q_0=J.+B.+Miller)

,

[K. M. Willett](https://journals.ametsoc.org/search?f_0=author&q_0=K.+M.+Willett)

,

[Melanie Ades](https://journals.ametsoc.org/search?f_0=author&q_0=Melanie+Ades)

,

[Robert Adler](https://journals.ametsoc.org/search?f_0=author&q_0=Robert+Adler)

,

[Mihai Alexe](https://journals.ametsoc.org/search?f_0=author&q_0=Mihai+Alexe)

,

[Richard P. Allan](https://journals.ametsoc.org/search?f_0=author&q_0=Richard+P.+Allan)

,

[John Anderson](https://journals.ametsoc.org/search?f_0=author&q_0=John+Anderson)

,

[Orlane Anneville](https://journals.ametsoc.org/search?f_0=author&q_0=Orlane+Anneville)

,

[Yasuyuki Aono](https://journals.ametsoc.org/search?f_0=author&q_0=Yasuyuki+Aono)

,

[Anthony Arguez](https://journals.ametsoc.org/search?f_0=author&q_0=Anthony+Arguez)

,

[Dolores Armenteras Pascual](https://journals.ametsoc.org/search?f_0=author&q_0=Dolores+Armenteras+Pascual)

,

[Carlo Arosio](https://journals.ametsoc.org/search?f_0=author&q_0=Carlo+Arosio)

,

[Elizabeth Asher](https://journals.ametsoc.org/search?f_0=author&q_0=Elizabeth+Asher)

,

[John A. Augustine](https://journals.ametsoc.org/search?f_0=author&q_0=John+A.+Augustine)

,

[Cesar Azorin-Molina](https://journals.ametsoc.org/search?f_0=author&q_0=Cesar+Azorin-Molina)

,

[Oscar M. Baez-Villanueva](https://journals.ametsoc.org/search?f_0=author&q_0=Oscar+M.+Baez-Villanueva)

,

[J. Barichivich](https://journals.ametsoc.org/search?f_0=author&q_0=J.+Barichivich)

,

[Hylke E. Beck](https://journals.ametsoc.org/search?f_0=author&q_0=Hylke+E.+Beck)

,

[Nicolas Bellouin](https://journals.ametsoc.org/search?f_0=author&q_0=Nicolas+Bellouin)

,

[Angela Benedetti](https://journals.ametsoc.org/search?f_0=author&q_0=Angela+Benedetti)

,

[Stephen Blenkinsop](https://journals.ametsoc.org/search?f_0=author&q_0=Stephen+Blenkinsop)

,

[Olivier Bock](https://journals.ametsoc.org/search?f_0=author&q_0=Olivier+Bock)

,

[Xavier Bodin](https://journals.ametsoc.org/search?f_0=author&q_0=Xavier+Bodin)

,

[Olivier Bonte](https://journals.ametsoc.org/search?f_0=author&q_0=Olivier+Bonte)

,

[Michael G. Bosilovich](https://journals.ametsoc.org/search?f_0=author&q_0=Michael+G.+Bosilovich)

,

[Olivier Boucher](https://journals.ametsoc.org/search?f_0=author&q_0=Olivier+Boucher)

,

[Stefan A. Buehler](https://journals.ametsoc.org/search?f_0=author&q_0=Stefan+A.+Buehler)

,

[Michael P. Byrne](https://journals.ametsoc.org/search?f_0=author&q_0=Michael+P.+Byrne)

,

[Diego Campos](https://journals.ametsoc.org/search?f_0=author&q_0=Diego+Campos)

,

[Fabrizio Cappucci](https://journals.ametsoc.org/search?f_0=author&q_0=Fabrizio+Cappucci)

,

[Laura Carrea](https://journals.ametsoc.org/search?f_0=author&q_0=Laura+Carrea)

,

[Kai-Lan Chang](https://journals.ametsoc.org/search?f_0=author&q_0=Kai-Lan+Chang)

,

[Hanne H. Christiansen](https://journals.ametsoc.org/search?f_0=author&q_0=Hanne+H.+Christiansen)

,

[John R. Christy](https://journals.ametsoc.org/search?f_0=author&q_0=John+R.+Christy)

,

[Eui-Seok Chung](https://journals.ametsoc.org/search?f_0=author&q_0=Eui-Seok+Chung)

,

[Laura M. Ciasto](https://journals.ametsoc.org/search?f_0=author&q_0=Laura+M.+Ciasto)

,

[Scott Clingan](https://journals.ametsoc.org/search?f_0=author&q_0=Scott+Clingan)

,

[Melanie Coldewey-Egbers](https://journals.ametsoc.org/search?f_0=author&q_0=Melanie+Coldewey-Egbers)

,

[Owen R. Cooper](https://journals.ametsoc.org/search?f_0=author&q_0=Owen+R.+Cooper)

,

[Richard C. Cornes](https://journals.ametsoc.org/search?f_0=author&q_0=Richard+C.+Cornes)

,

[Curt Covey](https://journals.ametsoc.org/search?f_0=author&q_0=Curt+Covey)

,

[Jean-Francois Crétaux](https://journals.ametsoc.org/search?f_0=author&q_0=Jean-Francois+Cr%C3%A9taux)

,

[Theresa Crimmins](https://journals.ametsoc.org/search?f_0=author&q_0=Theresa+Crimmins)

,

[Molly Crotwell](https://journals.ametsoc.org/search?f_0=author&q_0=Molly+Crotwell)

,

[Joshua Culpepper](https://journals.ametsoc.org/search?f_0=author&q_0=Joshua+Culpepper)

,

[Diego Cusicanqui](https://journals.ametsoc.org/search?f_0=author&q_0=Diego+Cusicanqui)

,

[Sean Davis](https://journals.ametsoc.org/search?f_0=author&q_0=Sean+Davis)

,

[Richard A. M. de Jeu](https://journals.ametsoc.org/search?f_0=author&q_0=Richard+A.+M.+de+Jeu)

,

[Doug Degenstein](https://journals.ametsoc.org/search?f_0=author&q_0=Doug+Degenstein)

,

[Reynald Delaloye](https://journals.ametsoc.org/search?f_0=author&q_0=Reynald+Delaloye)

,

[Elizabeth DiGangi](https://journals.ametsoc.org/search?f_0=author&q_0=Elizabeth+DiGangi)

,

[Martin T. Dokulil](https://journals.ametsoc.org/search?f_0=author&q_0=Martin+T.+Dokulil)

,

[Markus G. Donat](https://journals.ametsoc.org/search?f_0=author&q_0=Markus+G.+Donat)

,

[Wouter A. Dorigo](https://journals.ametsoc.org/search?f_0=author&q_0=Wouter+A.+Dorigo)

,

[Diane Duchemin](https://journals.ametsoc.org/search?f_0=author&q_0=Diane+Duchemin)

,

[Hilary Dugan](https://journals.ametsoc.org/search?f_0=author&q_0=Hilary+Dugan)

,

[Imke Durre](https://journals.ametsoc.org/search?f_0=author&q_0=Imke+Durre)

,

[Geoff Dutton](https://journals.ametsoc.org/search?f_0=author&q_0=Geoff+Dutton)

,

[Gregory Duveiller](https://journals.ametsoc.org/search?f_0=author&q_0=Gregory+Duveiller)

,

[Thomas W. Estilow](https://journals.ametsoc.org/search?f_0=author&q_0=Thomas+W.+Estilow)

,

[Nicole Estrella](https://journals.ametsoc.org/search?f_0=author&q_0=Nicole+Estrella)

,

[David Fereday](https://journals.ametsoc.org/search?f_0=author&q_0=David+Fereday)

,

[Vitali E. Fioletov](https://journals.ametsoc.org/search?f_0=author&q_0=Vitali+E.+Fioletov)

,

[Johannes Flemming](https://journals.ametsoc.org/search?f_0=author&q_0=Johannes+Flemming)

,

[Michael J. Foster](https://journals.ametsoc.org/search?f_0=author&q_0=Michael+J.+Foster)

,

[Thomas Frederikse](https://journals.ametsoc.org/search?f_0=author&q_0=Thomas+Frederikse)

,

[Stacey M. Frith](https://journals.ametsoc.org/search?f_0=author&q_0=Stacey+M.+Frith)

,

[Lucien Froidevaux](https://journals.ametsoc.org/search?f_0=author&q_0=Lucien+Froidevaux)

,

[Martin Füllekrug](https://journals.ametsoc.org/search?f_0=author&q_0=Martin+F%C3%BCllekrug)

,

[Judith Garforth](https://journals.ametsoc.org/search?f_0=author&q_0=Judith+Garforth)

,

[Jay Garg](https://journals.ametsoc.org/search?f_0=author&q_0=Jay+Garg)

,

[Sophie Godin-Beekmann](https://journals.ametsoc.org/search?f_0=author&q_0=Sophie+Godin-Beekmann)

,

[Steven Goodman](https://journals.ametsoc.org/search?f_0=author&q_0=Steven+Goodman)

,

[Atsushi Goto](https://journals.ametsoc.org/search?f_0=author&q_0=Atsushi+Goto)

,

[Alice Grimm](https://journals.ametsoc.org/search?f_0=author&q_0=Alice+Grimm)

,

[Alexander Gruber](https://journals.ametsoc.org/search?f_0=author&q_0=Alexander+Gruber)

,

[Guojun Gu](https://journals.ametsoc.org/search?f_0=author&q_0=Guojun+Gu)

,

[Mauro Guglielmin](https://journals.ametsoc.org/search?f_0=author&q_0=Mauro+Guglielmin)

,

[Sebastian Hahn](https://journals.ametsoc.org/search?f_0=author&q_0=Sebastian+Hahn)

,

[Leopold Haimberger](https://journals.ametsoc.org/search?f_0=author&q_0=Leopold+Haimberger)

,

[Brad D. Hall](https://journals.ametsoc.org/search?f_0=author&q_0=Brad+D.+Hall)

,

[Merritt E. Harlan](https://journals.ametsoc.org/search?f_0=author&q_0=Merritt+E.+Harlan)

,

[I. Harris](https://journals.ametsoc.org/search?f_0=author&q_0=I.+Harris)

,

[Deborah L. Hemming](https://journals.ametsoc.org/search?f_0=author&q_0=Deborah+L.+Hemming)

,

[Martin Hirschi](https://journals.ametsoc.org/search?f_0=author&q_0=Martin+Hirschi)

,

[Shu-peng (Ben) Ho](https://journals.ametsoc.org/search?f_0=author&q_0=Shu-peng+%28Ben%29+Ho)

,

[Robert Holzworth](https://journals.ametsoc.org/search?f_0=author&q_0=Robert+Holzworth)

,

[Radley M. Horton](https://journals.ametsoc.org/search?f_0=author&q_0=Radley+M.+Horton)

,

[Filip Hrbáček](https://journals.ametsoc.org/search?f_0=author&q_0=Filip+Hrb%C3%A1%C4%8Dek)

,

[Guojie Hu](https://journals.ametsoc.org/search?f_0=author&q_0=Guojie+Hu)

,

[Dale Hurst](https://journals.ametsoc.org/search?f_0=author&q_0=Dale+Hurst)

,

[Antje Inness](https://journals.ametsoc.org/search?f_0=author&q_0=Antje+Inness)

,

[Ketil Isaksen](https://journals.ametsoc.org/search?f_0=author&q_0=Ketil+Isaksen)

,

[Viju O. John](https://journals.ametsoc.org/search?f_0=author&q_0=Viju+O.+John)

,

[P. D. Jones](https://journals.ametsoc.org/search?f_0=author&q_0=P.+D.+Jones)

,

[Robert Junod](https://journals.ametsoc.org/search?f_0=author&q_0=Robert+Junod)

,

[Andreas Kääb](https://journals.ametsoc.org/search?f_0=author&q_0=Andreas+K%C3%A4%C3%A4b)

,

[Johannes W. Kaiser](https://journals.ametsoc.org/search?f_0=author&q_0=Johannes+W.+Kaiser)

,

[Viktor Kaufmann](https://journals.ametsoc.org/search?f_0=author&q_0=Viktor+Kaufmann)

,

[Andreas Kellerer-Pirklbauer](https://journals.ametsoc.org/search?f_0=author&q_0=Andreas+Kellerer-Pirklbauer)

,

[Sergey Khaykin](https://journals.ametsoc.org/search?f_0=author&q_0=Sergey+Khaykin)

,

[Richard Kidd](https://journals.ametsoc.org/search?f_0=author&q_0=Richard+Kidd)

,

[Tyler V. King](https://journals.ametsoc.org/search?f_0=author&q_0=Tyler+V.+King)

,

[Zak Kipling](https://journals.ametsoc.org/search?f_0=author&q_0=Zak+Kipling)

,

[Akash Koppa](https://journals.ametsoc.org/search?f_0=author&q_0=Akash+Koppa)

,

[Benjamin M. Kraemer](https://journals.ametsoc.org/search?f_0=author&q_0=Benjamin+M.+Kraemer)

,

[R. Sofia La Fuente](https://journals.ametsoc.org/search?f_0=author&q_0=R.+Sofia+La+Fuente)

,

[Alo Laas](https://journals.ametsoc.org/search?f_0=author&q_0=Alo+Laas)

,

[Xin Lan](https://journals.ametsoc.org/search?f_0=author&q_0=Xin+Lan)

,

[Kathleen O. Lantz](https://journals.ametsoc.org/search?f_0=author&q_0=Kathleen+O.+Lantz)

,

[Jeff Lapierre](https://journals.ametsoc.org/search?f_0=author&q_0=Jeff+Lapierre)

,

[David A. Lavers](https://journals.ametsoc.org/search?f_0=author&q_0=David+A.+Lavers)

,

[Thierry Leblanc](https://journals.ametsoc.org/search?f_0=author&q_0=Thierry+Leblanc)

,

[Eric Leibensperger](https://journals.ametsoc.org/search?f_0=author&q_0=Eric+Leibensperger)

,

[Chris Lennard](https://journals.ametsoc.org/search?f_0=author&q_0=Chris+Lennard)

,

[Ben Liley](https://journals.ametsoc.org/search?f_0=author&q_0=Ben+Liley)

,

[Yakun Liu](https://journals.ametsoc.org/search?f_0=author&q_0=Yakun+Liu)

,

[Y. T. Eunice Lo](https://journals.ametsoc.org/search?f_0=author&q_0=Y.+T.+Eunice+Lo)

,

[Norman G. Loeb](https://journals.ametsoc.org/search?f_0=author&q_0=Norman+G.+Loeb)

,

[Diego Loyola](https://journals.ametsoc.org/search?f_0=author&q_0=Diego+Loyola)

,

[Florence Magnin](https://journals.ametsoc.org/search?f_0=author&q_0=Florence+Magnin)

,

[Shin-Ichiro Matsuzaki](https://journals.ametsoc.org/search?f_0=author&q_0=Shin-Ichiro+Matsuzaki)

,

[Tom Matthews](https://journals.ametsoc.org/search?f_0=author&q_0=Tom+Matthews)

,

[Michael Mayer](https://journals.ametsoc.org/search?f_0=author&q_0=Michael+Mayer)

,

[Michael McCarthy](https://journals.ametsoc.org/search?f_0=author&q_0=Michael+McCarthy)

,

[Tim R. McVicar](https://journals.ametsoc.org/search?f_0=author&q_0=Tim+R.+McVicar)

,

[Carl A. Mears](https://journals.ametsoc.org/search?f_0=author&q_0=Carl+A.+Mears)

,

[Annette Menzel](https://journals.ametsoc.org/search?f_0=author&q_0=Annette+Menzel)

,

[Christopher J. Merchant](https://journals.ametsoc.org/search?f_0=author&q_0=Christopher+J.+Merchant)

,

[Leo-Juhani Merio](https://journals.ametsoc.org/search?f_0=author&q_0=Leo-Juhani+Merio)

,

[Michael F. Meyer](https://journals.ametsoc.org/search?f_0=author&q_0=Michael+F.+Meyer)

,

[Diego G. Miralles](https://journals.ametsoc.org/search?f_0=author&q_0=Diego+G.+Miralles)

,

[Stephan A. Montzka](https://journals.ametsoc.org/search?f_0=author&q_0=Stephan+A.+Montzka)

,

[Colin Morice](https://journals.ametsoc.org/search?f_0=author&q_0=Colin+Morice)

,

[Isamu Morino](https://journals.ametsoc.org/search?f_0=author&q_0=Isamu+Morino)

,

[Ivan Mrekaj](https://journals.ametsoc.org/search?f_0=author&q_0=Ivan+Mrekaj)

,

[Jens Mühle](https://journals.ametsoc.org/search?f_0=author&q_0=Jens+M%C3%BChle)

,

[D. Nance](https://journals.ametsoc.org/search?f_0=author&q_0=D.+Nance)

,

[Julien P. Nicolas](https://journals.ametsoc.org/search?f_0=author&q_0=Julien+P.+Nicolas)

,

[Jeannette Noetzli](https://journals.ametsoc.org/search?f_0=author&q_0=Jeannette+Noetzli)

,

[Ben Noll](https://journals.ametsoc.org/search?f_0=author&q_0=Ben+Noll)

,

[John O’Keefe](https://journals.ametsoc.org/search?f_0=author&q_0=John+O%E2%80%99Keefe)

,

[Tim J. Osborn](https://journals.ametsoc.org/search?f_0=author&q_0=Tim+J.+Osborn)

,

[Mark Parrington](https://journals.ametsoc.org/search?f_0=author&q_0=Mark+Parrington)

,

[Cécile Pellet](https://journals.ametsoc.org/search?f_0=author&q_0=C%C3%A9cile+Pellet)

,

[Mauri S. Pelto](https://journals.ametsoc.org/search?f_0=author&q_0=Mauri+S.+Pelto)

,

[Kyle Petersen](https://journals.ametsoc.org/search?f_0=author&q_0=Kyle+Petersen)

,

[Coda Phillips](https://journals.ametsoc.org/search?f_0=author&q_0=Coda+Phillips)

,

[Don Pierson](https://journals.ametsoc.org/search?f_0=author&q_0=Don+Pierson)

,

[Izidine Pinto](https://journals.ametsoc.org/search?f_0=author&q_0=Izidine+Pinto)

,

[Stephen Po-Chedley](https://journals.ametsoc.org/search?f_0=author&q_0=Stephen+Po-Chedley)

,

[Paolo Pogliotti](https://journals.ametsoc.org/search?f_0=author&q_0=Paolo+Pogliotti)

,

[Lorenzo Polvani](https://journals.ametsoc.org/search?f_0=author&q_0=Lorenzo+Polvani)

,

[Wolfgang Preimesberger](https://journals.ametsoc.org/search?f_0=author&q_0=Wolfgang+Preimesberger)

,

[Colin Price](https://journals.ametsoc.org/search?f_0=author&q_0=Colin+Price)

,

[William J. Randel](https://journals.ametsoc.org/search?f_0=author&q_0=William+J.+Randel)

,

[Colin Raymond](https://journals.ametsoc.org/search?f_0=author&q_0=Colin+Raymond)

,

[Samuel Rémy](https://journals.ametsoc.org/search?f_0=author&q_0=Samuel+R%C3%A9my)

,

[Lucrezia Ricciardulli](https://journals.ametsoc.org/search?f_0=author&q_0=Lucrezia+Ricciardulli)

,

[Andrew D. Richardson](https://journals.ametsoc.org/search?f_0=author&q_0=Andrew+D.+Richardson)

,

[David A. Robinson](https://journals.ametsoc.org/search?f_0=author&q_0=David+A.+Robinson)

,

[Matthew Rodell](https://journals.ametsoc.org/search?f_0=author&q_0=Matthew+Rodell)

,

[Nemesio Rodriguez-Fernandez](https://journals.ametsoc.org/search?f_0=author&q_0=Nemesio+Rodriguez-Fernandez)

,

[Cassandra D. W. Rogers](https://journals.ametsoc.org/search?f_0=author&q_0=Cassandra+D.+W.+Rogers)

,

[P. Rohini](https://journals.ametsoc.org/search?f_0=author&q_0=P.+Rohini)

,

[Karen Rosenlof](https://journals.ametsoc.org/search?f_0=author&q_0=Karen+Rosenlof)

,

[Alexei Rozanov](https://journals.ametsoc.org/search?f_0=author&q_0=Alexei+Rozanov)

,

[Jozef Rozkošný](https://journals.ametsoc.org/search?f_0=author&q_0=Jozef+Rozko%C5%A1n%C3%BD)

,

[Olga O. Rusanovskaya](https://journals.ametsoc.org/search?f_0=author&q_0=Olga+O.+Rusanovskaya)

,

[This Rutishauser](https://journals.ametsoc.org/search?f_0=author&q_0=This+Rutishauser)

,

[C. T. Sabeerali](https://journals.ametsoc.org/search?f_0=author&q_0=C.+T.+Sabeerali)

,

[Ryan Said](https://journals.ametsoc.org/search?f_0=author&q_0=Ryan+Said)

,

[Tetsu Sakai](https://journals.ametsoc.org/search?f_0=author&q_0=Tetsu+Sakai)

,

[Ahira Sánchez-Lugo](https://journals.ametsoc.org/search?f_0=author&q_0=Ahira+S%C3%A1nchez-Lugo)

,

[Parnchai Sawaengphokhai](https://journals.ametsoc.org/search?f_0=author&q_0=Parnchai+Sawaengphokhai)

,

[Verena Schenzinger](https://journals.ametsoc.org/search?f_0=author&q_0=Verena+Schenzinger)

,

[Robert W. Schlegel](https://journals.ametsoc.org/search?f_0=author&q_0=Robert+W.+Schlegel)

,

[Martin Schmid](https://journals.ametsoc.org/search?f_0=author&q_0=Martin+Schmid)

,

[Sonia I. Seneviratne](https://journals.ametsoc.org/search?f_0=author&q_0=Sonia+I.+Seneviratne)

,

[Fumi Sezaki](https://journals.ametsoc.org/search?f_0=author&q_0=Fumi+Sezaki)

,

[Xi Shao](https://journals.ametsoc.org/search?f_0=author&q_0=Xi+Shao)

,

[Sapna Sharma](https://journals.ametsoc.org/search?f_0=author&q_0=Sapna+Sharma)

,

[Lei Shi](https://journals.ametsoc.org/search?f_0=author&q_0=Lei+Shi)

,

[Svetlana V. Shimaraeva](https://journals.ametsoc.org/search?f_0=author&q_0=Svetlana+V.+Shimaraeva)

,

[Ryuichiro Shinohara](https://journals.ametsoc.org/search?f_0=author&q_0=Ryuichiro+Shinohara)

,

[Eugene A. Silow](https://journals.ametsoc.org/search?f_0=author&q_0=Eugene+A.+Silow)

,

[Adrian J. Simmons](https://journals.ametsoc.org/search?f_0=author&q_0=Adrian+J.+Simmons)

,

[Sharon L. Smith](https://journals.ametsoc.org/search?f_0=author&q_0=Sharon+L.+Smith)

,

[Brian J. Soden](https://journals.ametsoc.org/search?f_0=author&q_0=Brian+J.+Soden)

,

[Viktoria Sofieva](https://journals.ametsoc.org/search?f_0=author&q_0=Viktoria+Sofieva)

,

[Logan Soldo](https://journals.ametsoc.org/search?f_0=author&q_0=Logan+Soldo)

,

[O. P. Sreejith](https://journals.ametsoc.org/search?f_0=author&q_0=O.+P.+Sreejith)

,

[Paul W. Stackhouse Jr.](https://journals.ametsoc.org/search?f_0=author&q_0=Paul+W.+Stackhouse+Jr.)

,

[Ryan Stauffer](https://journals.ametsoc.org/search?f_0=author&q_0=Ryan+Stauffer)

,

[Wolfgang Steinbrecht](https://journals.ametsoc.org/search?f_0=author&q_0=Wolfgang+Steinbrecht)

,

[Andrea K. Steiner](https://journals.ametsoc.org/search?f_0=author&q_0=Andrea+K.+Steiner)

,

[Paul C. Stoy](https://journals.ametsoc.org/search?f_0=author&q_0=Paul+C.+Stoy)

,

[Pietro Stradiotti](https://journals.ametsoc.org/search?f_0=author&q_0=Pietro+Stradiotti)

,

[Dmitry A. Streletskiy](https://journals.ametsoc.org/search?f_0=author&q_0=Dmitry+A.+Streletskiy)

,

[Ghassan Taha](https://journals.ametsoc.org/search?f_0=author&q_0=Ghassan+Taha)

,

[Stephen J. Thackeray](https://journals.ametsoc.org/search?f_0=author&q_0=Stephen+J.+Thackeray)

,

[Emmanuel Thibert](https://journals.ametsoc.org/search?f_0=author&q_0=Emmanuel+Thibert)

,

[Maxim A. Timofeyev](https://journals.ametsoc.org/search?f_0=author&q_0=Maxim+A.+Timofeyev)

,

[Kleareti Tourpali](https://journals.ametsoc.org/search?f_0=author&q_0=Kleareti+Tourpali)

,

[Emma Tronquo](https://journals.ametsoc.org/search?f_0=author&q_0=Emma+Tronquo)

,

[Mari R. Tye](https://journals.ametsoc.org/search?f_0=author&q_0=Mari+R.+Tye)

,

[Ronald van der A](https://journals.ametsoc.org/search?f_0=author&q_0=Ronald+van+der+A)

,

[Robin van der Schalie](https://journals.ametsoc.org/search?f_0=author&q_0=Robin+van+der+Schalie)

,

[Gerard van der Schrier](https://journals.ametsoc.org/search?f_0=author&q_0=Gerard+van+der+Schrier)

,

[Arnold J. H. van Vliet](https://journals.ametsoc.org/search?f_0=author&q_0=Arnold+J.+H.+van+Vliet)

,

[Piet Verburg](https://journals.ametsoc.org/search?f_0=author&q_0=Piet+Verburg)

,

[Jean-Paul Vernier](https://journals.ametsoc.org/search?f_0=author&q_0=Jean-Paul+Vernier)

,

[Isaac J. Vimont](https://journals.ametsoc.org/search?f_0=author&q_0=Isaac+J.+Vimont)

,

[Katrina Virts](https://journals.ametsoc.org/search?f_0=author&q_0=Katrina+Virts)

,

[Sebastián Vivero](https://journals.ametsoc.org/search?f_0=author&q_0=Sebasti%C3%A1n+Vivero)

,

[Holger Vömel](https://journals.ametsoc.org/search?f_0=author&q_0=Holger+V%C3%B6mel)

,

[Russell S. Vose](https://journals.ametsoc.org/search?f_0=author&q_0=Russell+S.+Vose)

,

[Ray H. J. Wang](https://journals.ametsoc.org/search?f_0=author&q_0=Ray+H.+J.+Wang)

,

[Taran Warnock](https://journals.ametsoc.org/search?f_0=author&q_0=Taran+Warnock)

,

[Mark Weber](https://journals.ametsoc.org/search?f_0=author&q_0=Mark+Weber)

,

[David N. Wiese](https://journals.ametsoc.org/search?f_0=author&q_0=David+N.+Wiese)

,

[Jeannette D. Wild](https://journals.ametsoc.org/search?f_0=author&q_0=Jeannette+D.+Wild)

,

[Earle Williams](https://journals.ametsoc.org/search?f_0=author&q_0=Earle+Williams)

,

[Takmeng Wong](https://journals.ametsoc.org/search?f_0=author&q_0=Takmeng+Wong)

,

[Richard Iestyn Woolway](https://journals.ametsoc.org/search?f_0=author&q_0=Richard+Iestyn+Woolway)

,

[Xungang Yin](https://journals.ametsoc.org/search?f_0=author&q_0=Xungang+Yin)

,

[Zhenzhong Zeng](https://journals.ametsoc.org/search?f_0=author&q_0=Zhenzhong+Zeng)

,

[Lin Zhao](https://journals.ametsoc.org/search?f_0=author&q_0=Lin+Zhao)

,

[Feng Zhong](https://journals.ametsoc.org/search?f_0=author&q_0=Feng+Zhong)

,

[Jerry R. Ziemke](https://journals.ametsoc.org/search?f_0=author&q_0=Jerry+R.+Ziemke)

,

[Markus Ziese](https://journals.ametsoc.org/search?f_0=author&q_0=Markus+Ziese)

,

[Ruxandra M. Zotta](https://journals.ametsoc.org/search?f_0=author&q_0=Ruxandra+M.+Zotta)

, and

[Cheng-Zhi Zou](https://journals.ametsoc.org/search?f_0=author&q_0=Cheng-Zhi+Zou)

* [Next Article](/view/journals/mwre/78/1/1520-0493_1950_078_0004_wgopr_2_0_co_2.xml "WORLD'S GREATEST OBSERVED POINT RAINFALLS")

Editorial Type:

Article

Article Type:

Research Article

# VERIFICATION OF FORECASTS EXPRESSED IN TERMS OF PROBABILITY

GLENN W. BRIER

GLENN W. BRIER U. S. Weather Bureau, Washington, D. C.

Search for other papers by GLENN W. BRIER in
[Current site](https://journals.ametsoc.org/search?f_0=author&q_0=GLENN+W.+BRIER)
[Google Scholar](https://scholar.google.com/scholar?&q=GLENN+W.+BRIER)
[PubMed](https://pubmed.ncbi.nlm.nih.gov/?term=GLENN+W.+BRIER[Author]&sort=) Close

Print Publication:

01 Jan 1950

DOI:

[https://doi.org/10.1175/1520-0493(1950)078<0001:VOFEIT>2.0.CO;2](https://doi.org/10.1175/1520-0493\(1950\)078<0001:VOFEIT>2.0.CO;2)

Page(s):

1–3

Cited by:

3658

Article History

* [Download PDF](/downloadpdf/view/journals/mwre/78/1/1520-0493_1950_078_0001_vofeit_2_0_co_2.pdf)

[© Get Permissions](https://www.ametsoc.org/index.cfm/ams/publications/permissions/)

* [Abstract/Excerpt](#container-62942-item-62905)
* [Full Text](#container-62942-item-62949)
* [PDF](#container-62942-item-62913)

## Abstract

No Abstract Available.

## Abstract

No Abstract Available.

[Save](/login?t:state:client=Db3o/0JSJOfoToVBJ4ILUV2f7FY=:H4sIAAAAAAAAAH2TsW8TMRTGnZSIVKkIjYo6ITEwXyYkEBM0rTj1CJESMbC9u3u5GHz28ey7JAuChQ4MLLAxMDD2X2FkYEMww4SE1An7UhpS9TKc5bN/+r7P79nHP1ljeokxtquJHSpKPMggmqBnIENtaH7L49IgSRCeRip4hNrbExylGSBpro2dHXAU8dAoggT9NBM3D3H+9ffu28s/To7qbCNgrUilmZIW9WPDOsFTKKArQCbdoSEuk7sB2xw7kT6k+Jy9YLWANTOrdvY/ywy7Eyk55klOEAq0c2ftoFDFc69QIk+Ra52jRrtt05yuGRUZthXlRJbvYWYmhu38L9XdW2jZCmy7ZJ5L5vl2LUHqfP/46c+ro9t1VvNZowCR44zY1SXXz9MQ6fXx++utd9/e1BmbZbacTLvYzA0bhrX1RE3vRbZ22rfO5V5j1e6+UgJBfr5BL798OPll7Z78s8tqK2LbpRgZHglcmC/k3Ni6wHdf2iIQGK5kCbqhvYJ1Sizmtma2c1NFsa4gtxw5cG2WY1XBNB3ja13ltr104yBG8wwrwJZtLpdgcKSiCmSzzEP2Vq4zeyQFlzjIw54VqzIrq5qbiaKqw7eWwauQaxHIAamEbKd5gT2uMwHzCridwuwBQmwfQHktz7DmOU0lBGQa+0o+BG4/Y057fkEAl3GIxFE/Lm9/ACGK9Z0K13aqh2PIhTlQlIKpAHfK4hXAhXtPC3T9FYrHAZfP1jLDPDTciKqGXXHMyAHnjvgXTbQg89MEAAA=) [Email this content](mailto:?subject=Link%20to%20VERIFICATION%20OF%20FORECASTS%20EXPRESSED%20IN%20TERMS%20OF%20PROBABILITY&body=https%3A%2F%2Fjournals.ametsoc.org%2Fview%2Fjournals%2Fmwre%2F78%2F1%2F1520-0493_1950_078_0001_vofeit_2_0_co_2.xml "Email Page")

## Share Link

* * *

Copy this link, or click below to email it to a friend

[Email this content](mailto:?subject=Link%20to%20VERIFICATION%20OF%20FORECASTS%20EXPRESSED%20IN%20TERMS%20OF%20PROBABILITY&body=https%3A%2F%2Fjournals.ametsoc.org%2Fview%2Fjournals%2Fmwre%2F78%2F1%2F1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

or copy the link directly:

https://journals.ametsoc.org/view/journals/mwre/78/1/1520-0493\_1950\_078\_0001\_vofeit\_2\_0\_co\_2.xml

The link was not copied. Your current browser may not support copying via this button.

Link copied successfully

Copy link

* * *

[](/cite/$002fjournals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml/$N?t:state:client=Db3o/0JSJOfoToVBJ4ILUV2f7FY=:H4sIAAAAAAAAAH2TsW8TMRTGnZSIVKkIjYo6ITEwXyYkEBM0rTj1CJESMbC9u3u5GHz28ey7JAuChQ4MLLAxMDD2X2FkYEMww4SE1An7UhpS9TKc5bN/+r7P79nHP1ljeokxtquJHSpKPMggmqBnIENtaH7L49IgSRCeRip4hNrbExylGSBpro2dHXAU8dAoggT9NBM3D3H+9ffu28s/To7qbCNgrUilmZIW9WPDOsFTKKArQCbdoSEuk7sB2xw7kT6k+Jy9YLWANTOrdvY/ywy7Eyk55klOEAq0c2ftoFDFc69QIk+Ra52jRrtt05yuGRUZthXlRJbvYWYmhu38L9XdW2jZCmy7ZJ5L5vl2LUHqfP/46c+ro9t1VvNZowCR44zY1SXXz9MQ6fXx++utd9/e1BmbZbacTLvYzA0bhrX1RE3vRbZ22rfO5V5j1e6+UgJBfr5BL798OPll7Z78s8tqK2LbpRgZHglcmC/k3Ni6wHdf2iIQGK5kCbqhvYJ1Sizmtma2c1NFsa4gtxw5cG2WY1XBNB3ja13ltr104yBG8wwrwJZtLpdgcKSiCmSzzEP2Vq4zeyQFlzjIw54VqzIrq5qbiaKqw7eWwauQaxHIAamEbKd5gT2uMwHzCridwuwBQmwfQHktz7DmOU0lBGQa+0o+BG4/Y057fkEAl3GIxFE/Lm9/ACGK9Z0K13aqh2PIhTlQlIKpAHfK4hXAhXtPC3T9FYrHAZfP1jLDPDTciKqGXXHMyAHnjvgXTbQg89MEAAA=) [](/login?t:state:client=Db3o/0JSJOfoToVBJ4ILUV2f7FY=:H4sIAAAAAAAAAH2TsW8TMRTGnZSIVKkIjYo6ITEwXyYkEBM0rTj1CJESMbC9u3u5GHz28ey7JAuChQ4MLLAxMDD2X2FkYEMww4SE1An7UhpS9TKc5bN/+r7P79nHP1ljeokxtquJHSpKPMggmqBnIENtaH7L49IgSRCeRip4hNrbExylGSBpro2dHXAU8dAoggT9NBM3D3H+9ffu28s/To7qbCNgrUilmZIW9WPDOsFTKKArQCbdoSEuk7sB2xw7kT6k+Jy9YLWANTOrdvY/ywy7Eyk55klOEAq0c2ftoFDFc69QIk+Ra52jRrtt05yuGRUZthXlRJbvYWYmhu38L9XdW2jZCmy7ZJ5L5vl2LUHqfP/46c+ro9t1VvNZowCR44zY1SXXz9MQ6fXx++utd9/e1BmbZbacTLvYzA0bhrX1RE3vRbZ22rfO5V5j1e6+UgJBfr5BL798OPll7Z78s8tqK2LbpRgZHglcmC/k3Ni6wHdf2iIQGK5kCbqhvYJ1Sizmtma2c1NFsa4gtxw5cG2WY1XBNB3ja13ltr104yBG8wwrwJZtLpdgcKSiCmSzzEP2Vq4zeyQFlzjIw54VqzIrq5qbiaKqw7eWwauQaxHIAamEbKd5gT2uMwHzCridwuwBQmwfQHktz7DmOU0lBGQa+0o+BG4/Y057fkEAl3GIxFE/Lm9/ACGK9Z0K13aqh2PIhTlQlIKpAHfK4hXAhXtPC3T9FYrHAZfP1jLDPDTciKqGXXHMyAHnjvgXTbQg89MEAAA=) [](highlight "Hide search term highlighting")

[![Cover Monthly Weather Review](/coverimage?doc=%2Fjournals%2Fmwre%2F78%2F1%2Fmwre.78.issue-1.xml&width=200)](/view/journals/mwre/78/1/1520-0493_1950_078_0001_vofeit_2_0_co_2.xml "Monthly Weather Review - Volume 78 (1950): Issue 1 (Jan 1950)")

[Monthly Weather Review](/view/journals/mwre/mwre-overview.xml)

Volume 78: Issue 1

[Early Online Release](/view/journals/mwre/aop/issue.xml)

Volume: 154 (2026)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/154/volume/154/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 153 (2025)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/155/volume/153/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 152 (2024)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/156/volume/152/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 151 (2023)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/157/volume/151/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 150 (2022)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/158/volume/150/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 149 (2021)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/159/volume/149/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 148 (2020)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/160/volume/148/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 147 (2019)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/161/volume/147/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 146 (2018)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/162/volume/146/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 145 (2017)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/163/volume/145/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 144 (2016)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/164/volume/144/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 143 (2015)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/165/volume/143/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 142 (2014)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/166/volume/142/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 141 (2013)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/167/volume/141/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 140 (2012)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/168/volume/140/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 139 (2011)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/169/volume/139/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 138 (2010)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/170/volume/138/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 137 (2009)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/171/volume/137/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 136 (2008)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/172/volume/136/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 135 (2007)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/173/volume/135/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 134 (2006)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/174/volume/134/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 133 (2005)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/175/volume/133/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 132 (2004)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/176/volume/132/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 131 (2003)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/177/volume/131/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 130 (2002)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/178/volume/130/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 129 (2001)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/179/volume/129/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 128 (2000)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/180/volume/128/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 127 (1999)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/181/volume/127/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 126 (1998)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/182/volume/126/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 125 (1997)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/183/volume/125/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 124 (1996)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/184/volume/124/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 123 (1995)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/185/volume/123/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 122 (1994)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/186/volume/122/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 121 (1993)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/187/volume/121/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 120 (1992)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/188/volume/120/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 119 (1991)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/189/volume/119/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 118 (1990)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/190/volume/118/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 117 (1989)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/191/volume/117/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 116 (1988)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/192/volume/116/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 115 (1987)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/193/volume/115/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 114 (1986)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/194/volume/114/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 113 (1985)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/195/volume/113/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 112 (1984)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/196/volume/112/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 111 (1983)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/197/volume/111/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 110 (1982)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/198/volume/110/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 109 (1981)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/199/volume/109/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 108 (1980)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/200/volume/108/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 107 (1979)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/201/volume/107/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 106 (1978)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/202/volume/106/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 105 (1977)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/203/volume/105/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 104 (1976)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/204/volume/104/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 103 (1975)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/205/volume/103/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 102 (1974)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/206/volume/102/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 101 (1973)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/207/volume/101/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 100 (1972)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/208/volume/100/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 99 (1971)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/209/volume/99/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 98 (1970)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/210/volume/98/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 97 (1969)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/211/volume/97/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 96 (1968)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/212/volume/96/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 95 (1967)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/213/volume/95/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 94 (1966)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/214/volume/94/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 93 (1965)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/215/volume/93/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 92 (1964)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/216/volume/92/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 91 (1963)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/217/volume/91/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 90 (1962)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/218/volume/90/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 89 (1961)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/219/volume/89/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 88 (1960)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/220/volume/88/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 87 (1959)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/221/volume/87/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 86 (1958)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/222/volume/86/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 85 (1957)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/223/volume/85/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 84 (1956)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/224/volume/84/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 83 (1955)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/225/volume/83/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 82 (1954)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/226/volume/82/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 81 (1953)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/227/volume/81/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 80 (1952)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/228/volume/80/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 79 (1951)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/229/volume/79/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 78 (1950)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/230/volume/78/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 77 (1949)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/231/volume/77/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 76 (1948)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/232/volume/76/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 75 (1947)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/233/volume/75/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 74 (1946)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/234/volume/74/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 73 (1945)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/235/volume/73/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 72 (1944)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/236/volume/72/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 71 (1943)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/237/volume/71/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 70 (1942)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/238/volume/70/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 69 (1941)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/239/volume/69/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 68 (1940)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/240/volume/68/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 67 (1939)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/241/volume/67/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 66 (1938)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/242/volume/66/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 65 (1937)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/243/volume/65/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 64 (1936)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/244/volume/64/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 63 (1935)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/245/volume/63/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 62 (1934)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/246/volume/62/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 61 (1933)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/247/volume/61/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 60 (1932)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/248/volume/60/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 59 (1931)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/249/volume/59/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 58 (1930)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/250/volume/58/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 57 (1929)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/251/volume/57/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 56 (1928)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/252/volume/56/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 55 (1927)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/253/volume/55/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 54 (1926)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/254/volume/54/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 53 (1925)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/255/volume/53/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 52 (1924)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/256/volume/52/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 51 (1923)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/257/volume/51/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 50 (1922)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/258/volume/50/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 49 (1921)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/259/volume/49/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 48 (1920)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/260/volume/48/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 47 (1919)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/261/volume/47/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 46 (1918)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/262/volume/46/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 45 (1917)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/263/volume/45/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 44 (1916)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/264/volume/44/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 43 (1915)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/265/volume/43/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 42 (1914)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/266/volume/42/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 41 (1913)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/267/volume/41/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 40 (1912)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/268/volume/40/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 39 (1911)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/269/volume/39/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 38 (1910)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/270/volume/38/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 37 (1909)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/271/volume/37/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 36 (1908)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/272/volume/36/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 35 (1907)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/273/volume/35/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 34 (1906)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/274/volume/34/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 33 (1905)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/275/volume/33/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 32 (1904)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/276/volume/32/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 31 (1903)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/277/volume/31/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 30 (1902)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/278/volume/30/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 29 (1901)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/279/volume/29/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 28 (1900)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/280/volume/28/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 27 (1899)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/281/volume/27/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 26 (1898)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/282/volume/26/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 25 (1897)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/283/volume/25/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 24 (1896)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/284/volume/24/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 23 (1895)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/285/volume/23/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 22 (1894)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/286/volume/22/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 21 (1893)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/287/volume/21/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 20 (1892)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/288/volume/20/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 19 (1891)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/289/volume/19/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 18 (1890)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/290/volume/18/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 17 (1889)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/291/volume/17/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 16 (1888)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/292/volume/16/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 15 (1887)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/293/volume/15/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 14 (1886)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/294/volume/14/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 13 (1885)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/295/volume/13/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 12 (1884)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/296/volume/12/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 11 (1883)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/297/volume/11/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 10 (1882)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/298/volume/10/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 9 (1881)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/299/volume/9/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 8 (1880)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/300/volume/8/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 7 (1879)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/301/volume/7/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 6 (1878)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/302/volume/6/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 5 (1877)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/303/volume/5/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 4 (1876)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/304/volume/4/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 3 (1875)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/305/volume/3/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 2 (1874)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/306/volume/2/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Volume: 1 (1873)

[Show Items](/configurable/content.configurablecontentpagebody.volumeissueselector.volumetoc:subtreelink/307/volume/1/JOURNAL/0/RIGHT_FLUSHED/compact/true/false/false/false/false/false/false/false/$N/34/62936/false/false?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml)

Cited By

Publications Citing This Document

You are looking at 1-50 of 3658 citations

[Next](/configurable/content.configurablecontentpagebody.citedbywidget.pagedlist:changepage/2?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml&t:state:client=Db3o/0JSJOfoToVBJ4ILUV2f7FY=:H4sIAAAAAAAAAH2TsW8TMRTGnZSIVKkIjYo6ITEwXyYkEBM0rTj1CJESMbC9u3u5GHz28ey7JAuChQ4MLLAxMDD2X2FkYEMww4SE1An7UhpS9TKc5bN/+r7P79nHP1ljeokxtquJHSpKPMggmqBnIENtaH7L49IgSRCeRip4hNrbExylGSBpro2dHXAU8dAoggT9NBM3D3H+9ffu28s/To7qbCNgrUilmZIW9WPDOsFTKKArQCbdoSEuk7sB2xw7kT6k+Jy9YLWANTOrdvY/ywy7Eyk55klOEAq0c2ftoFDFc69QIk+Ra52jRrtt05yuGRUZthXlRJbvYWYmhu38L9XdW2jZCmy7ZJ5L5vl2LUHqfP/46c+ro9t1VvNZowCR44zY1SXXz9MQ6fXx++utd9/e1BmbZbacTLvYzA0bhrX1RE3vRbZ22rfO5V5j1e6+UgJBfr5BL798OPll7Z78s8tqK2LbpRgZHglcmC/k3Ni6wHdf2iIQGK5kCbqhvYJ1Sizmtma2c1NFsa4gtxw5cG2WY1XBNB3ja13ltr104yBG8wwrwJZtLpdgcKSiCmSzzEP2Vq4zeyQFlzjIw54VqzIrq5qbiaKqw7eWwauQaxHIAamEbKd5gT2uMwHzCridwuwBQmwfQHktz7DmOU0lBGQa+0o+BG4/Y057fkEAl3GIxFE/Lm9/ACGK9Z0K13aqh2PIhTlQlIKpAHfK4hXAhXtPC3T9FYrHAZfP1jLDPDTciKqGXXHMyAHnjvgXTbQg89MEAAA=&t:zoneid=list_0)

\[1\] Kaur, Devinder, Islam, Shama Naz, Mahmud, Md Apel, Haque, Md Enamul, and Dong, Zhao Yang, 2022, "Energy forecasting in smart grid systems: recent advancements in probabilistic deep learning" IET Generation, Transmission & Distribution 1751-8695

[Crossref](https://doi.org/10.1049/gtd2.12603)

\[2\] Yeh, Chi-Kuang, Rice, Gregory, and Dubin, Joel A., 2021, "Evaluating Real-Time Probabilistic Forecasts With Application to National Basketball Association Outcome Prediction" The American Statistician pp 1, 1537-2731

[Crossref](https://doi.org/10.1080/00031305.2021.1967781)

\[3\] Chen, Jiande, Yin, Yong, Zhao, Liebin, Zhang, Lei, Zhang, Jing, and Yuan, Shuhua, 2021, "Mycoplasma pneumoniae infection prediction model for hospitalized community‐acquired pneumonia children" Pediatric Pulmonology 1099-0496

[Crossref](https://doi.org/10.1002/ppul.25665)

\[4\] Diebold, Francis X., Shin, Minchul, and Zhang, Boyuan, 2022, "On the aggregation of probability assessments: Regularized mixtures of predictive densities for Eurozone inflation and real interest rates" Journal of Econometrics 03044076

[Crossref](https://doi.org/10.1016/j.jeconom.2022.06.008)

\[5\] Amanatidis, Georgios, Birmpas, Georgios, Lazos, Philip, and Marmolejo-Cossío, Francisco, 2022, Algorithmic Game Theory Vol. 13584, pp 403, 978-3-031-15714-1

[Crossref](https://doi.org/10.1007/978-3-031-15714-1_23)

\[6\] Utkin, Lev V., Zaborovsky, Vladimir S., Kovalev, Maxim S., Konstantinov, Andrei V., Politaeva, Natalia A., and Lukashin, Alexey A., 2021, "Uncertainty Interpretation of the Machine Learning Survival Model Predictions" IEEE Access Vol. 9, pp 120158, 2169-3536

[Crossref](https://doi.org/10.1109/ACCESS.2021.3108341)

\[7\] Messinger Cayetano, Shari and Mantero, Alejandro, 2021, " Conditional uncertainty: Misinterpretations of “significant” p values " Journal of Cardiac Surgery 1540-8191

[Crossref](https://doi.org/10.1111/jocs.15963)

\[8\] Labrosciano, Clementine, Tavella, Rosanna, Air, Tracy, Zeitz, Christopher J., Worthley, Matthew, and Beltrame, John F., 2021, "The LACE Index: A Predictor of Mortality and Readmission in Patients With Acute Myocardial Infarction" Journal for Healthcare Quality Vol. 43, No. 5, pp 292, 1945-1474

[Crossref](https://doi.org/10.1097/JHQ.0000000000000296)

\[9\] Humm, John R., Banerjee, Anjishnu, and Yoganandan, Narayan, 2021, "Deflection-based parametric survival analysis side impact chest injury risk curves AIS 2015" Traffic Injury Prevention pp 1, 1538-957X

[Crossref](https://doi.org/10.1080/15389588.2021.1977928)

\[10\] Lin, Andrew, van Diemen, Pepijn A., Motwani, Manish, McElhinney, Priscilla, Otaki, Yuka, Han, Donghee, Kwan, Alan, Tzolos, Evangelos, Klein, Eyal, Kuronuma, Keiichiro, Grodecki, Kajetan, Shou, Benjamin, Rios, Richard, Manral, Nipun, Cadet, Sebastien, Danad, Ibrahim, Driessen, Roel S., Berman, Daniel S., Nørgaard, Bjarne L., Slomka, Piotr J., Knaapen, Paul, and Dey, Damini, 2022, "Machine Learning From Quantitative Coronary Computed Tomography Angiography Predicts Fractional Flow Reserve–Defined Ischemia and Impaired Myocardial Blood Flow" Circulation: Cardiovascular Imaging Vol. 15, No. 10, 1942-0080

[Crossref](https://doi.org/10.1161/CIRCIMAGING.122.014369)

\[11\] Dutz, Almut, Zwanenburg, Alex, Langendijk, Johannes A., and Löck, Steffen, 2022, Image-Guided High-Precision Radiotherapy pp 285, 978-3-031-08601-4

[Crossref](https://doi.org/10.1007/978-3-031-08601-4_13)

\[12\] Choi, Hee-Wook, Han, Keunhee, and Kim, Chansoo, 2022, "Probabilistic Forecast of Visibility at Gimpo, Incheon, and Jeju International Airports Using Weighted Model Averaging" Atmosphere Vol. 13, No. 12, pp 1969, 2073-4433

[Crossref](https://doi.org/10.3390/atmos13121969)

\[13\] Thirel, G., Martin, E., Mahfouf, J.-F., Massart, S., Ricci, S., Regimbeau, F., and Habets, F., 2010, "A past discharge assimilation system for ensemble streamflow forecasts over France – Part 2: Impact on the ensemble streamflow forecasts" Hydrology and Earth System Sciences Vol. 14, No. 8, pp 1639, 1607-7938

[Crossref](https://doi.org/10.5194/hess-14-1639-2010)

\[14\] Bartholmes, J. C., Thielen, J., Ramos, M. H., and Gentilini, S., 2009, "The european flood alert system EFAS – Part 2: Statistical skill assessment of probabilistic and deterministic operational forecasts" Hydrology and Earth System Sciences Vol. 13, No. 2, pp 141, 1607-7938

[Crossref](https://doi.org/10.5194/hess-13-141-2009)

\[15\] Weijs, S. V., Schoups, G., and van de Giesen, N., 2010, "Why hydrological predictions should be evaluated using information theory" Hydrology and Earth System Sciences Vol. 14, No. 12, pp 2545, 1607-7938

[Crossref](https://doi.org/10.5194/hess-14-2545-2010)

\[16\] Laakso, Tuija, Kokkonen, Teemu, Mellin, Ilkka, and Vahala, Riku, 2019, "Sewer Life Span Prediction: Comparison of Methods and Assessment of the Sample Impact on the Results" Water Vol. 11, No. 12, pp 2657, 2073-4441

[Crossref](https://doi.org/10.3390/w11122657)

\[17\] Phan, Huy, Mertins, Alfred, and Baumert, Mathias, 2022, "Pediatric Automatic Sleep Staging: A Comparative Study of State-of-the-Art Deep Learning Methods" IEEE Transactions on Biomedical Engineering Vol. 69, No. 12, pp 3612, 1558-2531

[Crossref](https://doi.org/10.1109/TBME.2022.3174680)

\[18\] Bose, Subir and Daripa, Arup, 2022, "Eliciting ambiguous beliefs using constructed ambiguous acts: Alpha-maxmin" Journal of Mathematical Economics pp 102787, 03044068

[Crossref](https://doi.org/10.1016/j.jmateco.2022.102787)

\[19\] Parde, Avinash N., Ghude, Sachin D., Dhangar, Narendra Gokul, Lonkar, Prasanna, Wagh, Sandeep, Govardhan, Gaurav, Biswas, Mrinal, and Jenamani, R. K., 2022, "Operational Probabilistic Fog Prediction Based on Ensemble Forecast System: A Decision Support System for Fog" Atmosphere Vol. 13, No. 10, pp 1608, 2073-4433

[Crossref](https://doi.org/10.3390/atmos13101608)

\[20\] Yuan, Yubai and Qu, Annie, 2021, "High-order Joint Embedding for Multi-Level Link Prediction" Journal of the American Statistical Association pp 1, 1537-274X

[Crossref](https://doi.org/10.1080/01621459.2021.2005608)

\[21\] Javadi, Golara, Bayat, Sharareh, Kazemi Esfeh, Mohammad Mahdi, Samadi, Samareh, Sedghi, Alireza, Sojoudi, Samira, Hurtado, Antonio, Chang, Silvia, Black, Peter, Mousavi, Parvin, and Abolmaesumi, Purang, 2021, "Towards targeted ultrasound-guided prostate biopsy by incorporating model and label uncertainty in cancer detection" International Journal of Computer Assisted Radiology and Surgery 1861-6429

[Crossref](https://doi.org/10.1007/s11548-021-02485-z)

\[22\] Zarkowsky, Devin S. and Stonko, David P., 2021, "Artificial intelligence's role in vascular surgery decision-making" Seminars in Vascular Surgery 08957967

[Crossref](https://doi.org/10.1053/j.semvascsurg.2021.10.005)

\[23\] Yusuf, Sagir M. and Baber, Chris, 2022, "Formalizing Distributed Situation Awareness in Multi-Agent Networks" IEEE Transactions on Human-Machine Systems Vol. 52, No. 6, pp 1166, 2168-2305

[Crossref](https://doi.org/10.1109/THMS.2022.3142109)

\[24\] Shafiei, Hassan, Chauchat, Julien, Bonamy, Cyrille, and Marchesiello, Patrick, 2022, "Adaptation of the SANTOSS transport formula for 3D nearshore models: Application to cross-shore sandbar migration" Ocean Modelling pp 102138, 14635003

[Crossref](https://doi.org/10.1016/j.ocemod.2022.102138)

\[25\] Sun, Louise Y., Zghebi, Salwa S., Eddeen, Anan Bader, Liu, Peter P., Lee, Douglas S., Tu, Karen, Tobe, Sheldon W., Kontopantelis, Evangelos, and Mamas, Mamas A., 2022, "Derivation and External Validation of a Clinical Model to Predict Heart Failure Onset in Patients With Incident Diabetes" Diabetes Care Vol. 45, No. 11, pp 2737, 1935-5548

[Crossref](https://doi.org/10.2337/dc22-0894)

\[26\] Kunze, Kyle N., Polce, Evan M., Alter, Thomas D., and Nho, Shane J., 2021, "Machine Learning Algorithms Predict Prolonged Opioid Use in Opioid-Naïve Primary Hip Arthroscopy Patients" JAAOS: Global Research and Reviews Vol. 5, No. 5, pp e21.00093, 2474-7661

[Crossref](https://doi.org/10.5435/JAAOSGlobal-D-21-00093)

\[27\] Diniz, Marcio Augusto, 2022, "Statistical methods for validation of predictive models" Journal of Nuclear Cardiology 1532-6551

[Crossref](https://doi.org/10.1007/s12350-022-02994-7)

\[28\] Hulsbergen, Alexander F. C., Lo, Yu Tung, Awakimjan, Ilia, Kavouridis, Vasileios K., Phillips, John G., Smith, Timothy R., Verhoeff, Joost J. C., Yu, Kun-Hsing, Broekman, Marike L. D., and Arnaout, Omar, 2022, "Survival Prediction After Neurosurgical Resection of Brain Metastases: A Machine Learning Approach" Neurosurgery Vol. Publish Ahead of Print, 1524-4040

[Crossref](https://doi.org/10.1227/neu.0000000000002037)

\[29\] Witkowski, Jens, Freeman, Rupert, Vaughan, Jennifer Wortman, Pennock, David M., and Krause, Andreas, 2022, "Incentive-Compatible Forecasting Competitions" Management Science 1526-5501

[Crossref](https://doi.org/10.1287/mnsc.2022.4410)

\[30\] Estiri, Hossein, Strasser, Zachary H, Rashidian, Sina, Klann, Jeffrey G, Wagholikar, Kavishwar B, McCoy, Thomas H, and Murphy, Shawn N, 2022, "An objective framework for evaluating unrecognized bias in medical AI models predicting COVID-19 outcomes" Journal of the American Medical Informatics Association 1527-974X

[Crossref](https://doi.org/10.1093/jamia/ocac070)

\[31\] Tarumi, Shinji, Takeuchi, Wataru, Chalkidis, George, Rodriguez-Loya, Salvador, Kuwata, Junichi, Flynn, Michael, Turner, Kyle M., Sakaguchi, Farrant H., Weir, Charlene, Kramer, Heidi, Shields, David E., Warner, Phillip B., Kukhareva, Polina, Ban, Hideyuki, and Kawamoto, Kensaku, 2021, "Leveraging Artificial Intelligence to Improve Chronic Disease Care: Methods and Application to Pharmacotherapy Decision Support for Type-2 Diabetes Mellitus" Methods of Information in Medicine 2511-705X

[Crossref](https://doi.org/10.1055/s-0041-1728757)

\[32\] Polce, Evan M. and Kunze, Kyle N., 2022, "A Guide for the Application of Statistics in Biomedical Studies Concerning Machine Learning and Artificial Intelligence" Arthroscopy: The Journal of Arthroscopic & Related Surgery 07498063

[Crossref](https://doi.org/10.1016/j.arthro.2022.04.016)

\[33\] Tutek, Martin and Snajder, Jan, 2022, "Toward Practical Usage of the Attention Mechanism as a Tool for Interpretability" IEEE Access Vol. 10, pp 47011, 2169-3536

[Crossref](https://doi.org/10.1109/ACCESS.2022.3169772)

\[34\] Poore, Joshua C., Forlines, Clifton L., Miller, Sarah M., Regan, John R., and Irvine, John M., 2014, "Personality, Cognitive Style, Motivation, and Aptitude Predict Systematic Trends in Analytic Forecasting Behavior" Journal of Cognitive Engineering and Decision Making Vol. 8, No. 4, pp 374, 1555-3434

[Crossref](https://doi.org/10.1177/1555343414554702)

\[35\] Schurz, Gerhard, 2021, "Probabilistic truthlikeness, content elements, and meta-inductive probability optimization" Synthese 1573-0964

[Crossref](https://doi.org/10.1007/s11229-021-03057-z)

\[36\] Ghazvinian, Mohammadvaghef, Zhang, Yu, Seo, Dong-Jun, He, Minxue, and Fernando, Nelun, 2021, "A Novel Hybrid Artificial Neural Network - Parametric Scheme for Postprocessing Medium-Range Precipitation Forecasts" Advances in Water Resources pp 103907, 03091708

[Crossref](https://doi.org/10.1016/j.advwatres.2021.103907)

\[37\] Bridge, Joshua, Fu, Lu, Lin, Weidong, Xue, Yumei, Lip, Gregory Y. H., and Zheng, Yalin, 2022, "Artificial intelligence to detect abnormal heart rhythm from scanned electrocardiogram tracings" Journal of Arrhythmia 1883-2148

[Crossref](https://doi.org/10.1002/joa3.12707)

\[38\] Satopää, Ville A., Jensen, Shane T., Pemantle, Robin, and Ungar, Lyle H., 2017, "Partial information framework: Model-based aggregation of estimates from diverse information sources" Electronic Journal of Statistics Vol. 11, No. 2, 1935-7524

[Crossref](https://doi.org/10.1214/17-EJS1346)

\[39\] Parry, Matthew, 2016, "Linear scoring rules for probabilistic binary classification" Electronic Journal of Statistics Vol. 10, No. 1, 1935-7524

[Crossref](https://doi.org/10.1214/16-EJS1150)

\[40\] Giummolè, Federica and Mameli, Valentina, 2018, "Asymptotic minimum scoring rule prediction" Electronic Journal of Statistics Vol. 12, No. 2, 1935-7524

[Crossref](https://doi.org/10.1214/18-EJS1454)

\[41\] Barcella, William, De Iorio, Maria, Baio, Gianluca, and Malone-Lee, James, 2016, "A Bayesian nonparametric model for white blood cells in patients with lower urinary tract symptoms" Electronic Journal of Statistics Vol. 10, No. 2, 1935-7524

[Crossref](https://doi.org/10.1214/16-EJS1177)

\[42\] Kanamori, Takafumi and Fujisawa, Hironori, 2014, "Affine invariant divergences associated with proper composite scoring rules and their applications" Bernoulli Vol. 20, No. 4, 1350-7265

[Crossref](https://doi.org/10.3150/13-BEJ557)

\[43\] Karni, Edi, 2022, "A theory-based decision model" Journal of Economic Theory Vol. 201, pp 105444, 00220531

[Crossref](https://doi.org/10.1016/j.jet.2022.105444)

\[44\] Torn, Ryan D. and DeMaria, Mark, 2021, "Validation of Ensemble-Based Probabilistic Tropical Cyclone Intensity Change" Atmosphere Vol. 12, No. 3, pp 373, 2073-4433

[Crossref](https://doi.org/10.3390/atmos12030373)

\[45\] Li, Xiangyu, Luo, Gongning, Wang, Wei, Wang, Kuanquan, Gao, Yue, and Li, Shuo, 2022, "Hematoma Expansion Context Guided Intracranial Hemorrhage Segmentation and Uncertainty Estimation" IEEE Journal of Biomedical and Health Informatics Vol. 26, No. 3, pp 1140, 2168-2208

[Crossref](https://doi.org/10.1109/JBHI.2021.3103850)

\[46\] Daraei, Sara, Pelechrinis, Konstantinos, and Quercia, Daniele, 2021, "A data-driven approach for assessing biking safety in cities" EPJ Data Science Vol. 10, No. 1, 2193-1127

[Crossref](https://doi.org/10.1140/epjds/s13688-021-00265-y)

\[47\] D’Cruz, Nicholas, Vervoort, Griet, Chalavi, Sima, Dijkstra, Bauke W., Gilat, Moran, and Nieuwboer, Alice, 2021, "Thalamic morphology predicts the onset of freezing of gait in Parkinson’s disease" npj Parkinson's Disease Vol. 7, No. 1, 2373-8057

[Crossref](https://doi.org/10.1038/s41531-021-00163-0)

\[48\] Dumitrescu, Elena, Hué, Sullivan, Hurlin, Christophe, and Tokpavi, Sessi, 2021, "Machine Learning for Credit Scoring: Improving Logistic Regression with Non-Linear Decision-Tree Effects" European Journal of Operational Research 03772217

[Crossref](https://doi.org/10.1016/j.ejor.2021.06.053)

\[49\] Truslow, James G., Goto, Shinichi, Homilius, Max, Mow, Christopher, Higgins, John M., MacRae, Calum A., and Deo, Rahul C., 2022, "Cardiovascular Risk Assessment Using Artificial Intelligence-Enabled Event Adjudication and Hematologic Predictors" Circulation: Cardiovascular Quality and Outcomes Vol. 15, No. 6, 1941-7705

[Crossref](https://doi.org/10.1161/CIRCOUTCOMES.121.008007)

\[50\] Lorenz, Christof, Portele, Tanja C., Laux, Patrick, and Kunstmann, Harald, 2021, "Bias-corrected and spatially disaggregated seasonal forecasts: a long-term reference forecast product for the water sector in semi-arid regions" Earth System Science Data Vol. 13, No. 6, pp 2701, 1866-3516

[Crossref](https://doi.org/10.5194/essd-13-2701-2021)

[Next](/configurable/content.configurablecontentpagebody.citedbywidget.pagedlist:changepage/2?t:ac=journals$002fmwre$002f78$002f1$002f1520-0493_1950_078_0001_vofeit_2_0_co_2.xml&t:state:client=Db3o/0JSJOfoToVBJ4ILUV2f7FY=:H4sIAAAAAAAAAH2TsW8TMRTGnZSIVKkIjYo6ITEwXyYkEBM0rTj1CJESMbC9u3u5GHz28ey7JAuChQ4MLLAxMDD2X2FkYEMww4SE1An7UhpS9TKc5bN/+r7P79nHP1ljeokxtquJHSpKPMggmqBnIENtaH7L49IgSRCeRip4hNrbExylGSBpro2dHXAU8dAoggT9NBM3D3H+9ffu28s/To7qbCNgrUilmZIW9WPDOsFTKKArQCbdoSEuk7sB2xw7kT6k+Jy9YLWANTOrdvY/ywy7Eyk55klOEAq0c2ftoFDFc69QIk+Ra52jRrtt05yuGRUZthXlRJbvYWYmhu38L9XdW2jZCmy7ZJ5L5vl2LUHqfP/46c+ro9t1VvNZowCR44zY1SXXz9MQ6fXx++utd9/e1BmbZbacTLvYzA0bhrX1RE3vRbZ22rfO5V5j1e6+UgJBfr5BL798OPll7Z78s8tqK2LbpRgZHglcmC/k3Ni6wHdf2iIQGK5kCbqhvYJ1Sizmtma2c1NFsa4gtxw5cG2WY1XBNB3ja13ltr104yBG8wwrwJZtLpdgcKSiCmSzzEP2Vq4zeyQFlzjIw54VqzIrq5qbiaKqw7eWwauQaxHIAamEbKd5gT2uMwHzCridwuwBQmwfQHktz7DmOU0lBGQa+0o+BG4/Y057fkEAl3GIxFE/Lm9/ACGK9Z0K13aqh2PIhTlQlIKpAHfK4hXAhXtPC3T9FYrHAZfP1jLDPDTciKqGXXHMyAHnjvgXTbQg89MEAAA=&t:zoneid=list_0)

Metrics

| | All Time | Past Year | Past 30 Days |
| ----- | -------- | --------- | ------------ |
| 0 | 0 | 0 | |
| 39893 | 6448 | 1673 | |
| 30791 | 4574 | 554 | |

Related Content

## [Do Submesoscales Affect the Large-Scale Structure of the Upper Ocean?](/view/journals/phoc/53/4/JPO-D-22-0129.1.xml)

Authors:

[Anirban Sinha](https://journals.ametsoc.org/search?f_0=author&q_0=Anirban+Sinha)

,

[Jörn Callies](https://journals.ametsoc.org/search?f_0=author&q_0=J%C3%B6rn+Callies)

, and

[Dimitris Menemenlis](https://journals.ametsoc.org/search?f_0=author&q_0=Dimitris+Menemenlis)

## [Where Have the EF5s Gone? A Closer Look at the “Drought” of the Most Violent Tornadoes in the United States](/view/journals/bams/106/8/BAMS-D-24-0066.1.xml)

Authors:

[Anthony W. Lyza](https://journals.ametsoc.org/search?f_0=author&q_0=Anthony+W.+Lyza)

,

[Harold E. Brooks](https://journals.ametsoc.org/search?f_0=author&q_0=Harold+E.+Brooks)

, and

[Makenzie J. Krocak](https://journals.ametsoc.org/search?f_0=author&q_0=Makenzie+J.+Krocak)

## [Evaluating the Utility of NDVI as a Damage Indicator for Crops in the Enhanced Fujita Scale](/view/journals/apme/65/1/JAMC-D-24-0233.1.xml)

Authors:

[Connell S. Miller](https://journals.ametsoc.org/search?f_0=author&q_0=Connell+S.+Miller)

,

[Fahim Jessa](https://journals.ametsoc.org/search?f_0=author&q_0=Fahim+Jessa)

, and

[Gregory A. Kopp](https://journals.ametsoc.org/search?f_0=author&q_0=Gregory+A.+Kopp)

## [Dynamics of Heat Wave Intensification over the Indian Region](/view/journals/atsc/83/1/JAS-D-24-0093.1.xml)

Authors:

[S. Lekshmi](https://journals.ametsoc.org/search?f_0=author&q_0=S.+Lekshmi)

,

[Rajib Chattopadhyay](https://journals.ametsoc.org/search?f_0=author&q_0=Rajib+Chattopadhyay)

, and

[D. S. Pai](https://journals.ametsoc.org/search?f_0=author&q_0=D.+S.+Pai)

## [Global Climate](/view/journals/bams/105/8/BAMS-D-24-0116.1.xml)

Authors:

[R. J. H. Dunn](https://journals.ametsoc.org/search?f_0=author&q_0=R.+J.+H.+Dunn)

,

[J. Blannin](https://journals.ametsoc.org/search?f_0=author&q_0=J.+Blannin)

,

[N. Gobron](https://journals.ametsoc.org/search?f_0=author&q_0=N.+Gobron)

,

[J. B. Miller](https://journals.ametsoc.org/search?f_0=author&q_0=J.+B.+Miller)

,

[K. M. Willett](https://journals.ametsoc.org/search?f_0=author&q_0=K.+M.+Willett)

,

[Melanie Ades](https://journals.ametsoc.org/search?f_0=author&q_0=Melanie+Ades)

,

[Robert Adler](https://journals.ametsoc.org/search?f_0=author&q_0=Robert+Adler)

,

[Mihai Alexe](https://journals.ametsoc.org/search?f_0=author&q_0=Mihai+Alexe)

,

[Richard P. Allan](https://journals.ametsoc.org/search?f_0=author&q_0=Richard+P.+Allan)

,

[John Anderson](https://journals.ametsoc.org/search?f_0=author&q_0=John+Anderson)

,

[Orlane Anneville](https://journals.ametsoc.org/search?f_0=author&q_0=Orlane+Anneville)

,

[Yasuyuki Aono](https://journals.ametsoc.org/search?f_0=author&q_0=Yasuyuki+Aono)

,

[Anthony Arguez](https://journals.ametsoc.org/search?f_0=author&q_0=Anthony+Arguez)

,

[Dolores Armenteras Pascual](https://journals.ametsoc.org/search?f_0=author&q_0=Dolores+Armenteras+Pascual)

,

[Carlo Arosio](https://journals.ametsoc.org/search?f_0=author&q_0=Carlo+Arosio)

,

[Elizabeth Asher](https://journals.ametsoc.org/search?f_0=author&q_0=Elizabeth+Asher)

,

[John A. Augustine](https://journals.ametsoc.org/search?f_0=author&q_0=John+A.+Augustine)

,

[Cesar Azorin-Molina](https://journals.ametsoc.org/search?f_0=author&q_0=Cesar+Azorin-Molina)

,

[Oscar M. Baez-Villanueva](https://journals.ametsoc.org/search?f_0=author&q_0=Oscar+M.+Baez-Villanueva)

,

[J. Barichivich](https://journals.ametsoc.org/search?f_0=author&q_0=J.+Barichivich)

,

[Hylke E. Beck](https://journals.ametsoc.org/search?f_0=author&q_0=Hylke+E.+Beck)

,

[Nicolas Bellouin](https://journals.ametsoc.org/search?f_0=author&q_0=Nicolas+Bellouin)

,

[Angela Benedetti](https://journals.ametsoc.org/search?f_0=author&q_0=Angela+Benedetti)

,

[Stephen Blenkinsop](https://journals.ametsoc.org/search?f_0=author&q_0=Stephen+Blenkinsop)

,

[Olivier Bock](https://journals.ametsoc.org/search?f_0=author&q_0=Olivier+Bock)

,

[Xavier Bodin](https://journals.ametsoc.org/search?f_0=author&q_0=Xavier+Bodin)

,

[Olivier Bonte](https://journals.ametsoc.org/search?f_0=author&q_0=Olivier+Bonte)

,

[Michael G. Bosilovich](https://journals.ametsoc.org/search?f_0=author&q_0=Michael+G.+Bosilovich)

,

[Olivier Boucher](https://journals.ametsoc.org/search?f_0=author&q_0=Olivier+Boucher)

,

[Stefan A. Buehler](https://journals.ametsoc.org/search?f_0=author&q_0=Stefan+A.+Buehler)

,

[Michael P. Byrne](https://journals.ametsoc.org/search?f_0=author&q_0=Michael+P.+Byrne)

,

[Diego Campos](https://journals.ametsoc.org/search?f_0=author&q_0=Diego+Campos)

,

[Fabrizio Cappucci](https://journals.ametsoc.org/search?f_0=author&q_0=Fabrizio+Cappucci)

,

[Laura Carrea](https://journals.ametsoc.org/search?f_0=author&q_0=Laura+Carrea)

,

[Kai-Lan Chang](https://journals.ametsoc.org/search?f_0=author&q_0=Kai-Lan+Chang)

,

[Hanne H. Christiansen](https://journals.ametsoc.org/search?f_0=author&q_0=Hanne+H.+Christiansen)

,

[John R. Christy](https://journals.ametsoc.org/search?f_0=author&q_0=John+R.+Christy)

,

[Eui-Seok Chung](https://journals.ametsoc.org/search?f_0=author&q_0=Eui-Seok+Chung)

,

[Laura M. Ciasto](https://journals.ametsoc.org/search?f_0=author&q_0=Laura+M.+Ciasto)

,

[Scott Clingan](https://journals.ametsoc.org/search?f_0=author&q_0=Scott+Clingan)

,

[Melanie Coldewey-Egbers](https://journals.ametsoc.org/search?f_0=author&q_0=Melanie+Coldewey-Egbers)

,

[Owen R. Cooper](https://journals.ametsoc.org/search?f_0=author&q_0=Owen+R.+Cooper)

,

[Richard C. Cornes](https://journals.ametsoc.org/search?f_0=author&q_0=Richard+C.+Cornes)

,

[Curt Covey](https://journals.ametsoc.org/search?f_0=author&q_0=Curt+Covey)

,

[Jean-Francois Crétaux](https://journals.ametsoc.org/search?f_0=author&q_0=Jean-Francois+Cr%C3%A9taux)

,

[Theresa Crimmins](https://journals.ametsoc.org/search?f_0=author&q_0=Theresa+Crimmins)

,

[Molly Crotwell](https://journals.ametsoc.org/search?f_0=author&q_0=Molly+Crotwell)

,

[Joshua Culpepper](https://journals.ametsoc.org/search?f_0=author&q_0=Joshua+Culpepper)

,

[Diego Cusicanqui](https://journals.ametsoc.org/search?f_0=author&q_0=Diego+Cusicanqui)

,

[Sean Davis](https://journals.ametsoc.org/search?f_0=author&q_0=Sean+Davis)

,

[Richard A. M. de Jeu](https://journals.ametsoc.org/search?f_0=author&q_0=Richard+A.+M.+de+Jeu)

,

[Doug Degenstein](https://journals.ametsoc.org/search?f_0=author&q_0=Doug+Degenstein)

,

[Reynald Delaloye](https://journals.ametsoc.org/search?f_0=author&q_0=Reynald+Delaloye)

,

[Elizabeth DiGangi](https://journals.ametsoc.org/search?f_0=author&q_0=Elizabeth+DiGangi)

,

[Martin T. Dokulil](https://journals.ametsoc.org/search?f_0=author&q_0=Martin+T.+Dokulil)

,

[Markus G. Donat](https://journals.ametsoc.org/search?f_0=author&q_0=Markus+G.+Donat)

,

[Wouter A. Dorigo](https://journals.ametsoc.org/search?f_0=author&q_0=Wouter+A.+Dorigo)

,

[Diane Duchemin](https://journals.ametsoc.org/search?f_0=author&q_0=Diane+Duchemin)

,

[Hilary Dugan](https://journals.ametsoc.org/search?f_0=author&q_0=Hilary+Dugan)

,

[Imke Durre](https://journals.ametsoc.org/search?f_0=author&q_0=Imke+Durre)

,

[Geoff Dutton](https://journals.ametsoc.org/search?f_0=author&q_0=Geoff+Dutton)

,

[Gregory Duveiller](https://journals.ametsoc.org/search?f_0=author&q_0=Gregory+Duveiller)

,

[Thomas W. Estilow](https://journals.ametsoc.org/search?f_0=author&q_0=Thomas+W.+Estilow)

,

[Nicole Estrella](https://journals.ametsoc.org/search?f_0=author&q_0=Nicole+Estrella)

,

[David Fereday](https://journals.ametsoc.org/search?f_0=author&q_0=David+Fereday)

,

[Vitali E. Fioletov](https://journals.ametsoc.org/search?f_0=author&q_0=Vitali+E.+Fioletov)

,

[Johannes Flemming](https://journals.ametsoc.org/search?f_0=author&q_0=Johannes+Flemming)

,

[Michael J. Foster](https://journals.ametsoc.org/search?f_0=author&q_0=Michael+J.+Foster)

,

[Thomas Frederikse](https://journals.ametsoc.org/search?f_0=author&q_0=Thomas+Frederikse)

,

[Stacey M. Frith](https://journals.ametsoc.org/search?f_0=author&q_0=Stacey+M.+Frith)

,

[Lucien Froidevaux](https://journals.ametsoc.org/search?f_0=author&q_0=Lucien+Froidevaux)

,

[Martin Füllekrug](https://journals.ametsoc.org/search?f_0=author&q_0=Martin+F%C3%BCllekrug)

,

[Judith Garforth](https://journals.ametsoc.org/search?f_0=author&q_0=Judith+Garforth)

,

[Jay Garg](https://journals.ametsoc.org/search?f_0=author&q_0=Jay+Garg)

,

[Sophie Godin-Beekmann](https://journals.ametsoc.org/search?f_0=author&q_0=Sophie+Godin-Beekmann)

,

[Steven Goodman](https://journals.ametsoc.org/search?f_0=author&q_0=Steven+Goodman)

,

[Atsushi Goto](https://journals.ametsoc.org/search?f_0=author&q_0=Atsushi+Goto)

,

[Alice Grimm](https://journals.ametsoc.org/search?f_0=author&q_0=Alice+Grimm)

,

[Alexander Gruber](https://journals.ametsoc.org/search?f_0=author&q_0=Alexander+Gruber)

,

[Guojun Gu](https://journals.ametsoc.org/search?f_0=author&q_0=Guojun+Gu)

,

[Mauro Guglielmin](https://journals.ametsoc.org/search?f_0=author&q_0=Mauro+Guglielmin)

,

[Sebastian Hahn](https://journals.ametsoc.org/search?f_0=author&q_0=Sebastian+Hahn)

,

[Leopold Haimberger](https://journals.ametsoc.org/search?f_0=author&q_0=Leopold+Haimberger)

,

[Brad D. Hall](https://journals.ametsoc.org/search?f_0=author&q_0=Brad+D.+Hall)

,

[Merritt E. Harlan](https://journals.ametsoc.org/search?f_0=author&q_0=Merritt+E.+Harlan)

,

[I. Harris](https://journals.ametsoc.org/search?f_0=author&q_0=I.+Harris)

,

[Deborah L. Hemming](https://journals.ametsoc.org/search?f_0=author&q_0=Deborah+L.+Hemming)

,

[Martin Hirschi](https://journals.ametsoc.org/search?f_0=author&q_0=Martin+Hirschi)

,

[Shu-peng (Ben) Ho](https://journals.ametsoc.org/search?f_0=author&q_0=Shu-peng+%28Ben%29+Ho)

,

[Robert Holzworth](https://journals.ametsoc.org/search?f_0=author&q_0=Robert+Holzworth)

,

[Radley M. Horton](https://journals.ametsoc.org/search?f_0=author&q_0=Radley+M.+Horton)

,

[Filip Hrbáček](https://journals.ametsoc.org/search?f_0=author&q_0=Filip+Hrb%C3%A1%C4%8Dek)

,

[Guojie Hu](https://journals.ametsoc.org/search?f_0=author&q_0=Guojie+Hu)

,

[Dale Hurst](https://journals.ametsoc.org/search?f_0=author&q_0=Dale+Hurst)

,

[Antje Inness](https://journals.ametsoc.org/search?f_0=author&q_0=Antje+Inness)

,

[Ketil Isaksen](https://journals.ametsoc.org/search?f_0=author&q_0=Ketil+Isaksen)

,

[Viju O. John](https://journals.ametsoc.org/search?f_0=author&q_0=Viju+O.+John)

,

[P. D. Jones](https://journals.ametsoc.org/search?f_0=author&q_0=P.+D.+Jones)

,

[Robert Junod](https://journals.ametsoc.org/search?f_0=author&q_0=Robert+Junod)

,

[Andreas Kääb](https://journals.ametsoc.org/search?f_0=author&q_0=Andreas+K%C3%A4%C3%A4b)

,

[Johannes W. Kaiser](https://journals.ametsoc.org/search?f_0=author&q_0=Johannes+W.+Kaiser)

,

[Viktor Kaufmann](https://journals.ametsoc.org/search?f_0=author&q_0=Viktor+Kaufmann)

,

[Andreas Kellerer-Pirklbauer](https://journals.ametsoc.org/search?f_0=author&q_0=Andreas+Kellerer-Pirklbauer)

,

[Sergey Khaykin](https://journals.ametsoc.org/search?f_0=author&q_0=Sergey+Khaykin)

,

[Richard Kidd](https://journals.ametsoc.org/search?f_0=author&q_0=Richard+Kidd)

,

[Tyler V. King](https://journals.ametsoc.org/search?f_0=author&q_0=Tyler+V.+King)

,

[Zak Kipling](https://journals.ametsoc.org/search?f_0=author&q_0=Zak+Kipling)

,

[Akash Koppa](https://journals.ametsoc.org/search?f_0=author&q_0=Akash+Koppa)

,

[Benjamin M. Kraemer](https://journals.ametsoc.org/search?f_0=author&q_0=Benjamin+M.+Kraemer)

,

[R. Sofia La Fuente](https://journals.ametsoc.org/search?f_0=author&q_0=R.+Sofia+La+Fuente)

,

[Alo Laas](https://journals.ametsoc.org/search?f_0=author&q_0=Alo+Laas)

,

[Xin Lan](https://journals.ametsoc.org/search?f_0=author&q_0=Xin+Lan)

,

[Kathleen O. Lantz](https://journals.ametsoc.org/search?f_0=author&q_0=Kathleen+O.+Lantz)

,

[Jeff Lapierre](https://journals.ametsoc.org/search?f_0=author&q_0=Jeff+Lapierre)

,

[David A. Lavers](https://journals.ametsoc.org/search?f_0=author&q_0=David+A.+Lavers)

,

[Thierry Leblanc](https://journals.ametsoc.org/search?f_0=author&q_0=Thierry+Leblanc)

,

[Eric Leibensperger](https://journals.ametsoc.org/search?f_0=author&q_0=Eric+Leibensperger)

,

[Chris Lennard](https://journals.ametsoc.org/search?f_0=author&q_0=Chris+Lennard)

,

[Ben Liley](https://journals.ametsoc.org/search?f_0=author&q_0=Ben+Liley)

,

[Yakun Liu](https://journals.ametsoc.org/search?f_0=author&q_0=Yakun+Liu)

,

[Y. T. Eunice Lo](https://journals.ametsoc.org/search?f_0=author&q_0=Y.+T.+Eunice+Lo)

,

[Norman G. Loeb](https://journals.ametsoc.org/search?f_0=author&q_0=Norman+G.+Loeb)

,

[Diego Loyola](https://journals.ametsoc.org/search?f_0=author&q_0=Diego+Loyola)

,

[Florence Magnin](https://journals.ametsoc.org/search?f_0=author&q_0=Florence+Magnin)

,

[Shin-Ichiro Matsuzaki](https://journals.ametsoc.org/search?f_0=author&q_0=Shin-Ichiro+Matsuzaki)

,

[Tom Matthews](https://journals.ametsoc.org/search?f_0=author&q_0=Tom+Matthews)

,

[Michael Mayer](https://journals.ametsoc.org/search?f_0=author&q_0=Michael+Mayer)

,

[Michael McCarthy](https://journals.ametsoc.org/search?f_0=author&q_0=Michael+McCarthy)

,

[Tim R. McVicar](https://journals.ametsoc.org/search?f_0=author&q_0=Tim+R.+McVicar)

,

[Carl A. Mears](https://journals.ametsoc.org/search?f_0=author&q_0=Carl+A.+Mears)

,

[Annette Menzel](https://journals.ametsoc.org/search?f_0=author&q_0=Annette+Menzel)

,

[Christopher J. Merchant](https://journals.ametsoc.org/search?f_0=author&q_0=Christopher+J.+Merchant)

,

[Leo-Juhani Merio](https://journals.ametsoc.org/search?f_0=author&q_0=Leo-Juhani+Merio)

,

[Michael F. Meyer](https://journals.ametsoc.org/search?f_0=author&q_0=Michael+F.+Meyer)

,

[Diego G. Miralles](https://journals.ametsoc.org/search?f_0=author&q_0=Diego+G.+Miralles)

,

[Stephan A. Montzka](https://journals.ametsoc.org/search?f_0=author&q_0=Stephan+A.+Montzka)

,

[Colin Morice](https://journals.ametsoc.org/search?f_0=author&q_0=Colin+Morice)

,

[Isamu Morino](https://journals.ametsoc.org/search?f_0=author&q_0=Isamu+Morino)

,

[Ivan Mrekaj](https://journals.ametsoc.org/search?f_0=author&q_0=Ivan+Mrekaj)

,

[Jens Mühle](https://journals.ametsoc.org/search?f_0=author&q_0=Jens+M%C3%BChle)

,

[D. Nance](https://journals.ametsoc.org/search?f_0=author&q_0=D.+Nance)

,

[Julien P. Nicolas](https://journals.ametsoc.org/search?f_0=author&q_0=Julien+P.+Nicolas)

,

[Jeannette Noetzli](https://journals.ametsoc.org/search?f_0=author&q_0=Jeannette+Noetzli)

,

[Ben Noll](https://journals.ametsoc.org/search?f_0=author&q_0=Ben+Noll)

,

[John O’Keefe](https://journals.ametsoc.org/search?f_0=author&q_0=John+O%E2%80%99Keefe)

,

[Tim J. Osborn](https://journals.ametsoc.org/search?f_0=author&q_0=Tim+J.+Osborn)

,

[Mark Parrington](https://journals.ametsoc.org/search?f_0=author&q_0=Mark+Parrington)

,

[Cécile Pellet](https://journals.ametsoc.org/search?f_0=author&q_0=C%C3%A9cile+Pellet)

,

[Mauri S. Pelto](https://journals.ametsoc.org/search?f_0=author&q_0=Mauri+S.+Pelto)

,

[Kyle Petersen](https://journals.ametsoc.org/search?f_0=author&q_0=Kyle+Petersen)

,

[Coda Phillips](https://journals.ametsoc.org/search?f_0=author&q_0=Coda+Phillips)

,

[Don Pierson](https://journals.ametsoc.org/search?f_0=author&q_0=Don+Pierson)

,

[Izidine Pinto](https://journals.ametsoc.org/search?f_0=author&q_0=Izidine+Pinto)

,

[Stephen Po-Chedley](https://journals.ametsoc.org/search?f_0=author&q_0=Stephen+Po-Chedley)

,

[Paolo Pogliotti](https://journals.ametsoc.org/search?f_0=author&q_0=Paolo+Pogliotti)

,

[Lorenzo Polvani](https://journals.ametsoc.org/search?f_0=author&q_0=Lorenzo+Polvani)

,

[Wolfgang Preimesberger](https://journals.ametsoc.org/search?f_0=author&q_0=Wolfgang+Preimesberger)

,

[Colin Price](https://journals.ametsoc.org/search?f_0=author&q_0=Colin+Price)

,

[William J. Randel](https://journals.ametsoc.org/search?f_0=author&q_0=William+J.+Randel)

,

[Colin Raymond](https://journals.ametsoc.org/search?f_0=author&q_0=Colin+Raymond)

,

[Samuel Rémy](https://journals.ametsoc.org/search?f_0=author&q_0=Samuel+R%C3%A9my)

,

[Lucrezia Ricciardulli](https://journals.ametsoc.org/search?f_0=author&q_0=Lucrezia+Ricciardulli)

,

[Andrew D. Richardson](https://journals.ametsoc.org/search?f_0=author&q_0=Andrew+D.+Richardson)

,

[David A. Robinson](https://journals.ametsoc.org/search?f_0=author&q_0=David+A.+Robinson)

,

[Matthew Rodell](https://journals.ametsoc.org/search?f_0=author&q_0=Matthew+Rodell)

,

[Nemesio Rodriguez-Fernandez](https://journals.ametsoc.org/search?f_0=author&q_0=Nemesio+Rodriguez-Fernandez)

,

[Cassandra D. W. Rogers](https://journals.ametsoc.org/search?f_0=author&q_0=Cassandra+D.+W.+Rogers)

,

[P. Rohini](https://journals.ametsoc.org/search?f_0=author&q_0=P.+Rohini)

,

[Karen Rosenlof](https://journals.ametsoc.org/search?f_0=author&q_0=Karen+Rosenlof)

,

[Alexei Rozanov](https://journals.ametsoc.org/search?f_0=author&q_0=Alexei+Rozanov)

,

[Jozef Rozkošný](https://journals.ametsoc.org/search?f_0=author&q_0=Jozef+Rozko%C5%A1n%C3%BD)

,

[Olga O. Rusanovskaya](https://journals.ametsoc.org/search?f_0=author&q_0=Olga+O.+Rusanovskaya)

,

[This Rutishauser](https://journals.ametsoc.org/search?f_0=author&q_0=This+Rutishauser)

,

[C. T. Sabeerali](https://journals.ametsoc.org/search?f_0=author&q_0=C.+T.+Sabeerali)

,

[Ryan Said](https://journals.ametsoc.org/search?f_0=author&q_0=Ryan+Said)

,

[Tetsu Sakai](https://journals.ametsoc.org/search?f_0=author&q_0=Tetsu+Sakai)

,

[Ahira Sánchez-Lugo](https://journals.ametsoc.org/search?f_0=author&q_0=Ahira+S%C3%A1nchez-Lugo)

,

[Parnchai Sawaengphokhai](https://journals.ametsoc.org/search?f_0=author&q_0=Parnchai+Sawaengphokhai)

,

[Verena Schenzinger](https://journals.ametsoc.org/search?f_0=author&q_0=Verena+Schenzinger)

,

[Robert W. Schlegel](https://journals.ametsoc.org/search?f_0=author&q_0=Robert+W.+Schlegel)

,

[Martin Schmid](https://journals.ametsoc.org/search?f_0=author&q_0=Martin+Schmid)

,

[Sonia I. Seneviratne](https://journals.ametsoc.org/search?f_0=author&q_0=Sonia+I.+Seneviratne)

,

[Fumi Sezaki](https://journals.ametsoc.org/search?f_0=author&q_0=Fumi+Sezaki)

,

[Xi Shao](https://journals.ametsoc.org/search?f_0=author&q_0=Xi+Shao)

,

[Sapna Sharma](https://journals.ametsoc.org/search?f_0=author&q_0=Sapna+Sharma)

,

[Lei Shi](https://journals.ametsoc.org/search?f_0=author&q_0=Lei+Shi)

,

[Svetlana V. Shimaraeva](https://journals.ametsoc.org/search?f_0=author&q_0=Svetlana+V.+Shimaraeva)

,

[Ryuichiro Shinohara](https://journals.ametsoc.org/search?f_0=author&q_0=Ryuichiro+Shinohara)

,

[Eugene A. Silow](https://journals.ametsoc.org/search?f_0=author&q_0=Eugene+A.+Silow)

,

[Adrian J. Simmons](https://journals.ametsoc.org/search?f_0=author&q_0=Adrian+J.+Simmons)

,

[Sharon L. Smith](https://journals.ametsoc.org/search?f_0=author&q_0=Sharon+L.+Smith)

,

[Brian J. Soden](https://journals.ametsoc.org/search?f_0=author&q_0=Brian+J.+Soden)

,

[Viktoria Sofieva](https://journals.ametsoc.org/search?f_0=author&q_0=Viktoria+Sofieva)

,

[Logan Soldo](https://journals.ametsoc.org/search?f_0=author&q_0=Logan+Soldo)

,

[O. P. Sreejith](https://journals.ametsoc.org/search?f_0=author&q_0=O.+P.+Sreejith)

,

[Paul W. Stackhouse Jr.](https://journals.ametsoc.org/search?f_0=author&q_0=Paul+W.+Stackhouse+Jr.)

,

[Ryan Stauffer](https://journals.ametsoc.org/search?f_0=author&q_0=Ryan+Stauffer)

,

[Wolfgang Steinbrecht](https://journals.ametsoc.org/search?f_0=author&q_0=Wolfgang+Steinbrecht)

,

[Andrea K. Steiner](https://journals.ametsoc.org/search?f_0=author&q_0=Andrea+K.+Steiner)

,

[Paul C. Stoy](https://journals.ametsoc.org/search?f_0=author&q_0=Paul+C.+Stoy)

,

[Pietro Stradiotti](https://journals.ametsoc.org/search?f_0=author&q_0=Pietro+Stradiotti)

,

[Dmitry A. Streletskiy](https://journals.ametsoc.org/search?f_0=author&q_0=Dmitry+A.+Streletskiy)

,

[Ghassan Taha](https://journals.ametsoc.org/search?f_0=author&q_0=Ghassan+Taha)

,

[Stephen J. Thackeray](https://journals.ametsoc.org/search?f_0=author&q_0=Stephen+J.+Thackeray)

,

[Emmanuel Thibert](https://journals.ametsoc.org/search?f_0=author&q_0=Emmanuel+Thibert)

,

[Maxim A. Timofeyev](https://journals.ametsoc.org/search?f_0=author&q_0=Maxim+A.+Timofeyev)

,

[Kleareti Tourpali](https://journals.ametsoc.org/search?f_0=author&q_0=Kleareti+Tourpali)

,

[Emma Tronquo](https://journals.ametsoc.org/search?f_0=author&q_0=Emma+Tronquo)

,

[Mari R. Tye](https://journals.ametsoc.org/search?f_0=author&q_0=Mari+R.+Tye)

,

[Ronald van der A](https://journals.ametsoc.org/search?f_0=author&q_0=Ronald+van+der+A)

,

[Robin van der Schalie](https://journals.ametsoc.org/search?f_0=author&q_0=Robin+van+der+Schalie)

,

[Gerard van der Schrier](https://journals.ametsoc.org/search?f_0=author&q_0=Gerard+van+der+Schrier)

,

[Arnold J. H. van Vliet](https://journals.ametsoc.org/search?f_0=author&q_0=Arnold+J.+H.+van+Vliet)

,

[Piet Verburg](https://journals.ametsoc.org/search?f_0=author&q_0=Piet+Verburg)

,

[Jean-Paul Vernier](https://journals.ametsoc.org/search?f_0=author&q_0=Jean-Paul+Vernier)

,

[Isaac J. Vimont](https://journals.ametsoc.org/search?f_0=author&q_0=Isaac+J.+Vimont)

,

[Katrina Virts](https://journals.ametsoc.org/search?f_0=author&q_0=Katrina+Virts)

,

[Sebastián Vivero](https://journals.ametsoc.org/search?f_0=author&q_0=Sebasti%C3%A1n+Vivero)

,

[Holger Vömel](https://journals.ametsoc.org/search?f_0=author&q_0=Holger+V%C3%B6mel)

,

[Russell S. Vose](https://journals.ametsoc.org/search?f_0=author&q_0=Russell+S.+Vose)

,

[Ray H. J. Wang](https://journals.ametsoc.org/search?f_0=author&q_0=Ray+H.+J.+Wang)

,

[Taran Warnock](https://journals.ametsoc.org/search?f_0=author&q_0=Taran+Warnock)

,

[Mark Weber](https://journals.ametsoc.org/search?f_0=author&q_0=Mark+Weber)

,

[David N. Wiese](https://journals.ametsoc.org/search?f_0=author&q_0=David+N.+Wiese)

,

[Jeannette D. Wild](https://journals.ametsoc.org/search?f_0=author&q_0=Jeannette+D.+Wild)

,

[Earle Williams](https://journals.ametsoc.org/search?f_0=author&q_0=Earle+Williams)

,

[Takmeng Wong](https://journals.ametsoc.org/search?f_0=author&q_0=Takmeng+Wong)

,

[Richard Iestyn Woolway](https://journals.ametsoc.org/search?f_0=author&q_0=Richard+Iestyn+Woolway)

,

[Xungang Yin](https://journals.ametsoc.org/search?f_0=author&q_0=Xungang+Yin)

,

[Zhenzhong Zeng](https://journals.ametsoc.org/search?f_0=author&q_0=Zhenzhong+Zeng)

,

[Lin Zhao](https://journals.ametsoc.org/search?f_0=author&q_0=Lin+Zhao)

,

[Feng Zhong](https://journals.ametsoc.org/search?f_0=author&q_0=Feng+Zhong)

,

[Jerry R. Ziemke](https://journals.ametsoc.org/search?f_0=author&q_0=Jerry+R.+Ziemke)

,

[Markus Ziese](https://journals.ametsoc.org/search?f_0=author&q_0=Markus+Ziese)

,

[Ruxandra M. Zotta](https://journals.ametsoc.org/search?f_0=author&q_0=Ruxandra+M.+Zotta)

, and

[Cheng-Zhi Zou](https://journals.ametsoc.org/search?f_0=author&q_0=Cheng-Zhi+Zou)

# # AMS Publications

[Journals](https://journals.ametsoc.org)

[BAMS](/view/journals/bams/bams-overview.xml)

[Monographs](/view/journals/amsm/amsm-overview.xml)

[AMS Books](https://www.ametsoc.org/index.cfm/ams/publications/books-and-monographs/)

[Glossary of Meteorology](https://glossary.ametsoc.org/wiki/Welcome)

[State of the Climate](https://www.ametsoc.org/index.cfm/ams/publications/bulletin-of-the-american-meteorological-society-bams/state-of-the-climate/)

[Explaining Extreme Events](https://www.ametsoc.org/index.cfm/ams/publications/bulletin-of-the-american-meteorological-society-bams/explaining-extreme-events-from-a-climate-perspective/)

[![Chorus](/fileasset/footer-logo.png)](https://www.chorusaccess.org/)

# # Get Involved with AMS

[AMS Online Profile](https://www.ametsoc.org/index.cfm/ams/my-account/)

[Publish](https://www.ametsoc.org/ams/index.cfm/publications/authors/journal-and-bams-authors/)

[Information for Authors](https://www.ametsoc.org/ams/publications/author-information/)

[Submit Manuscript](https://www.ametsoc.org/ams/index.cfm/publications/authors/journal-and-bams-authors/submit-manuscript/)

[Subscribe](https://www.ametsoc.org/ams/index.cfm/publications/subscription-information/)

[Member Subscription](https://www.ametsoc.org/ams/index.cfm/publications/subscription-information/individual-members/)

[Non-Member Subscriptions](https://www.ametsoc.org/ams/index.cfm/publications/subscription-information/nonmembers/)

[Institutional Subscriptions](https://www.ametsoc.org/ams/index.cfm/publications/subscription-information/corporation-and-institutional-members/)

# # Affiliate Sites

[AMS Home](https://www.ametsoc.org/)

[AMS Headlines](https://headlines.ametsoc.org/)

# # Follow Us

[](https://www.facebook.com/ametsoc) [](https://twitter.com/ametsoc) [](https://www.instagram.com/ametsoc/) [](https://www.youtube.com/user/ametsoc)

# # Contact Us

[CONTACT PUBLISHING STAFF](https://www.ametsoc.org/ams/index.cfm/publications/contacts/) [EMAIL & PHONE CONTACTS](https://www.ametsoc.org/ams/index.cfm/ams-staff-email-and-phone-contacts/)

Email: [amsjol@ametsoc.org](mailto:amsjol@ametsoc.org)

Phone: 617-227-2425

Fax: 617-742-8718

Headquarters:

45 Beacon Street

Boston, MA 02108-3693

DC Office:

1200 New York Ave NW

Suite 500

Washington, DC 200005-3928

* [Privacy Policy & Disclaimer](https://www.ametsoc.org/index.cfm/ams/privacy-policy-and-disclaimer/)
* [Get Adobe Acrobat Reader](https://get.adobe.com/reader/)

* [© 2026 American Meteorological Society]()

Powered by PubFactory

* \[68.48.65.54\]
* 68.48.65.54

Sign in to annotate

Close

Edit

Character limit 500/500

Delete Cancel Save

@!

Character limit 500/500

Cancel Save

View Expanded

View Table

View Full Size

[Artificial Intelligence for the Earth Systems](/view/journals/aies/aies-overview.xml) [Bulletin of the American Meteorological Society](/view/journals/bams/bams-overview.xml) [Earth Interactions](/view/journals/eint/eint-overview.xml) [Journal of Applied Meteorology and Climatology](/view/journals/apme/apme-overview.xml) [Journal of Atmospheric and Oceanic Technology](/view/journals/atot/atot-overview.xml) [Journal of Climate](/view/journals/clim/clim-overview.xml) [Journal of Hydrometeorology](/view/journals/hydr/hydr-overview.xml) [Journal of Physical Oceanography](/view/journals/phoc/phoc-overview.xml) [Journal of the Atmospheric Sciences](/view/journals/atsc/atsc-overview.xml) [Monthly Weather Review](/view/journals/mwre/mwre-overview.xml) [Weather and Forecasting](/view/journals/wefo/wefo-overview.xml) [Weather, Climate, and Society](/view/journals/wcas/wcas-overview.xml) [Meteorological Monographs](/view/journals/amsm/amsm-overview.xml)

[Advanced Search](/advancedsearch) [Help](/help#configurable)

[Sign in](/login) [Sign up](/signup)

JOURNALS [BROWSE](/browse) [PUBLISH](https://www.ametsoc.org/index.cfm/ams/publications/authors/journal-and-bams-authors/) [SUBSCRIBE](https://www.ametsoc.org/index.cfm/ams/publications/subscription-information/) [ABOUT](https://www.ametsoc.org/index.cfm/ams/publications)

[Artificial Intelligence for the Earth Systems](/view/journals/aies/aies-overview.xml) [Bulletin of the American Meteorological Society](/view/journals/bams/bams-overview.xml) [Earth Interactions](/view/journals/eint/eint-overview.xml) [Journal of Applied Meteorology and Climatology](/view/journals/apme/apme-overview.xml) [Journal of Atmospheric and Oceanic Technology](/view/journals/atot/atot-overview.xml) [Journal of Climate](/view/journals/clim/clim-overview.xml) [Journal of Hydrometeorology](/view/journals/hydr/hydr-overview.xml) [Journal of Physical Oceanography](/view/journals/phoc/phoc-overview.xml) [Journal of the Atmospheric Sciences](/view/journals/atsc/atsc-overview.xml) [Monthly Weather Review](/view/journals/mwre/mwre-overview.xml) [Weather and Forecasting](/view/journals/wefo/wefo-overview.xml) [Weather, Climate, and Society](/view/journals/wcas/wcas-overview.xml) [Meteorological Monographs](/view/journals/amsm/amsm-overview.xml)

[Advanced Search](/advancedsearch) [Help](/help#configurable)

Received:

10 Feb 1950

Published Online:

Jan 1950

Displayed acceptance dates for articles published prior to 2023 are approximate to within a week. If needed, exact acceptance dates can be obtained by emailing [amsjol@ametsoc.org](mailto:amsjol@ametsoc.org).

Share on facebook Share on linkedin Share on twitter